[2020-10-28 11:23] segfaultxavi commented on #597
I, for one, have absolutely no idea what a "High Definition" wallet is, or what is stored in a mnemonic phrase. I have played with the wallet and didn't understand the different "kinds" of accounts there are. That needs some serious documentation work.

[2020-10-28 15:21] jabo38 commented on #597
Hierarchical Deterministic Wallet (HD Wallet) is a where all the private keys in a private key are derived deterministically from a random set of words which is often in this industry 12-24 words.

In the start of blockchain, almost everyone managed profiles by creating random private keys. This was problematic as a person had to manage and record and back up lots and lots of private yes. At some

[2020-11-02 13:13] #531 closed

[2020-11-03 03:05] trestoJP opened #621 "Display problems - display overlap"
check these 2
1: on the dashboard
![ 2020-11-03 11-38-28-770](https://user-images.githubusercontent.com/59822825/97946117-c0327c00-1dcc-11eb-84e6-ff040dfdc0b8.png)

2: on the multisig setting
![ 2020-11-03 11-39-26-527](https://user-images.githubusercontent.com/59822825/97945969-6e89f180-1dcc-11eb-87c9-b85d8a9b01b0.png)

![ 2020-11-03 11-39-36-799](https://user-images.githubusercontent.com/5982282

[2020-11-03 03:11] trestoJP opened #622 "Issuing Mosaic in a Multi-Sig Account"
Multisig account A(2of2)
┣ Co-signer1
┗ Co-signer2

Co-signer1 sends a transaction to issue a mosaic on Multisig account A, but no signature request is sent to Co-signer2.

[2020-11-03 03:23] trestoJP opened #623 "Encrypted messages are decrypted but are not displayed"
Encrypted messages are decrypted but are not displayed on Details about a transaction.

[2020-11-03 03:40] trestoJP opened #624 "Failure or non-display of signature request - Transferring from a Multi-Sig Account"
Multisig account A(3of2)
┣ Co-signer1
┣ Co-signer2
┗ Co-signer3

Co-signer1 sent a transaction from multisig account A, but Co-signer2 and Co-signer3 did not receive the signature request.

Multi-level case

Multisig account A(2of2)
┣ Co-signer1
┗ Co-signer2(Multisig account B(3of2))
　┣ Co-signer3
　┣ Co-signer4
　┗ Co-signer5

Co-signer1 sent a transaction from multisig account A, but Co-signer3, C

[2020-11-03 05:24] cryptoBeliever commented on #624
Hello @trestoJP

Just for confirmation. Did you tried to use this switch on cosigner side to switch on multisig and receive notification about new transaction to sign? You should receive transaction cosignature notification when you switch to multisig.
Anyway this UI need to be rethought.

![image](https://user-images.githubusercontent.com/17684281/97952212-e6402800-1d9c-11eb-9a8d-e78ddc4fe990.png

[2020-11-03 05:26] cryptoBeliever commented on #623
I checked on deb version and it worked well. Could you please tell which one build from https://github.com/nemgrouplimited/symbol-desktop-wallet/releases/tag/v0.13.2 are you using?

[2020-11-03 05:55] trestoJP commented on #624
I did it
But this is an inconvenience. It's hard to notice the signature request.
Thank you.

[2020-11-03 06:13] cryptoBeliever commented on #624
@bassemmagdy
Can we do something about this? We want to let user know that something is to sign for one of his multisigs. Would be also good to give clear information which account it applies. What you think?

[2020-11-03 06:18] trestoJP commented on #623
Of course.
After checking, it seems that only in the case of a multi-sig transaction, it is not decrypted. Recipients did not see the message when decrypting it after receiving it.

It appears that a co-signer who is not a recipient can also decrypt in this way, but it does not appear. I don't think it is necessary to be displayed because this co-signer is not a receiver, but do we need to use the

[2020-11-03 07:10] cryptoBeliever commented on #623
@trestoJP thanks. This was the missing part. I checked for regular account and you for multisig. Now I'm able to reproduce. Thanks :+1:

Steps to reproduce:
1. Create multisig transfer transaction with encrypted message.
2. Sign it to be confirmed.

Decrypt button is visible in transaction details:
- for cosigners who didn't initialize transaction (should be?) but it doesn't work (blank value pres

[2020-11-04 00:33] 44uk opened #628 "Language definition word "node" is duplicated."
https://github.com/nemgrouplimited/symbol-desktop-wallet/blob/main/src/language/en-US.json#L435
https://github.com/nemgrouplimited/symbol-desktop-wallet/blob/main/src/language/en-US.json#L442

[2020-11-04 11:02] bassemmagdy commented on #624
@cryptoBeliever what we could do is we can extend the partial transactions listener to listen over all the multi-sig signers' list of each account in order to show them in the current account but, it would be a bit messy in some cases, for example, the user has 7 or 8 signers receiving multiple partial transactions that need to be signed, in that case, all the txs would be stuffed in transaction l

[2020-11-04 21:43] jabo38 opened #631 "login button font not centered."
Using a Mac, the font on the login button that says "login" isn't centered.

<img width="419" alt="image" src="https://user-images.githubusercontent.com/10395907/98128992-39d67280-1e7e-11eb-9d1d-605400b24614.png">

[2020-11-04 21:43] jabo38 opened #632 "Confirm button on settings change is purple instead of grey."
On the settings page the "confirm" button is in purple but I haven't changed any settings.

Normally the "confirm" button would be grey, until I've made a change. Then after making a change it would turn purple.

Not a big issue at all, just thought I'd mention it.

<img width="1131" alt="image" src="https://user-images.githubusercontent.com/10395907/98130310-ba49a300-1e7f-11eb-9385-5216d551e738.p

[2020-11-04 21:43] jabo38 opened #633 "On a desktop wallet it isn't intuitive how to get back to the login screen once logged in."
If I'm in my Dashboard after I've logged in, and then realize I'm in the wrong profile and want to go back to login screen, there isn't an intuitive way to do so. In some apps, this would be done by clicking the "Symbol from NEM" logo in the top left hand corner.

<img width="257" alt="image" src="https://user-images.githubusercontent.com/10395907/98131794-401a1e00-1e81-11eb-8c80-be14ae53c05b.png"

[2020-11-04 22:18] jabo38 commented on #621
I had the same display problem in multisig.

<img width="1031" alt="image" src="https://user-images.githubusercontent.com/10395907/98173841-6491ec80-1eb9-11eb-8af4-41f65824bef4.png">

[2020-11-04 22:24] jabo38 commented on #621
I have the same problem with the search field being covered up.

Before I created a multisig account, it is fine and looks normal.

But after I create a multisig account, there is another dropdown and not enough space to accommodate it.

<img width="1035" alt="image" src="https://user-images.githubusercontent.com/10395907/98174225-28ab5700-1eba-11eb-83ac-f2844e0a7c68.png">

[2020-11-05 15:45] meyns commented on #578
All looks good in latest version

[2020-11-05 22:26] cryptoBeliever commented on #624
@bassemmagdy, unfortunately, I don't have good idea how to handle this too. Listening to all multi-sig accounts could be confusing as you told. Maybe some UI designer can propose it something.
In NIS1 wallet there was separate view to check all transactions to sign but I'm not sure if this is good idea too.

[2020-11-08 11:44] Peersyst commented on #633
The log out button has been removed. It can go inside settings or in the right of settings in the main menu

[2020-11-08 12:05] Peersyst commented on #624
The idea for this version is to extend all partial transactions in the multisig tree to the row and get it signed in the tx modal. Its basically the same case and in the modal we should display all the info explaining the origin of this transaction and the tree for its signature.

[2020-11-08 12:16] rg911 commented on #624
The search box will be removed anyway (post launched enhancement), perhaps that could be fine for now?

[2020-11-09 08:44] GodTanu opened #638 "The private key doesn't show up until the end"
**Account Information**
Version: 0.13.2

Maximizing the screen doesn't show the last two characters.
![image](https://user-images.githubusercontent.com/20492223/98518274-8375f180-22b2-11eb-9f58-8ca3d49dca75.png)

[2020-11-09 23:18] trestoJP opened #649 "Node URLs are not displayed in the delegated harvesting of a multisig account"
Harvesting status is active.
![2020-11-10 08-12-35-539](https://user-images.githubusercontent.com/59822825/98607865-53b7ff80-232d-11eb-8dbe-966782584675.png)

[2020-11-10 02:00] jabo38 opened #650 ""password" typo when activating harvesting"
when making the transaction to activate harvesting, it says "passwor" instead of "password".

<img width="1155" alt="image" src="https://user-images.githubusercontent.com/10395907/98618155-30a63500-22c6-11eb-81cd-63dd6637b505.png">

[2020-11-10 16:55] tomotomo9696 opened #656 "In Delegated harvesting, NodePublicKey is different from the one provided in /node/info."
When I start Delegated harvesting, the Node Key Link seems to link the publicKey provided in /node/info, which is probably not correct.

See here for more information.
https://github.com/nemtech/symbol-docs/issues/532
https://github.com/nemtech/catapult-server/issues/107

[2020-11-10 16:59] #656 closed

[2020-11-10 17:02] tomotomo9696 commented on #656
I'm sorry, I missed #655.

[2020-11-10 18:45] garm01 opened #657 "Simplification of the node selection under Network settings"
When selecting/changing a node under Network settings, the suggested nodes, which can be selected under " List of nodes(8)", should be clickable and then automatically entered in the "Node Url" field.

![Node_Url](https://user-images.githubusercontent.com/46584115/98717301-28fd9380-238d-11eb-9975-f4acaea37047.png)

[2020-11-10 18:55] garm01 opened #658 "Scroll bars of the wallet cannot be used optimally"
It often need several attempts to use the scroll bars in the wallet.

[2020-11-11 01:06] 44uk commented on #628
It is already resolved.

[2020-11-11 01:06] #628 closed

[2020-11-11 17:22] garm01 opened #662 "The term "Expired" will lead to confusion at this point."
I'm  not sure why "Expired" is displayed when all mosaics of a certain type have been sent form the wallet and the account-balance is 0.
That will lead to confusion. The mosaic is still valid for a while.
If I have sent all the XYM of an account and the status is 0, there is ultimately no such message.

![expired-3](https://user-images.githubusercontent.com/46584115/98841507-7d197e00-2448-11eb-943

[2020-11-11 22:08] trestoJP opened #665 "Unable to stop the delegate harvesting of a multisig account"
After updating to v0.13.4, delegate harvesting of a multisig account that was active in v0.13.3 cannot be stopped.
Transactions fail to be sent.
"Failure_Aggregate_Missing_Cosignatures"

[2020-11-11 22:20] trestoJP opened #666 "Date display error"
The date on the dashboard seems to be wrong. It shows 2 hours in the future for users from Japan.

[2020-11-11 23:03] cryptoBeliever commented on #545
It's because date is presented based on deadline and not send date.

[2020-11-11 23:06] cryptoBeliever commented on #666
He @trestoJP. It's duplicate of https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/545.
I will ping devs regarding this issue.
Thank you.

[2020-11-11 23:08] cryptoBeliever commented on #665
Thank you :+1:

[2020-11-11 23:16] cryptoBeliever commented on #657
You can switch node by clicking green circle in bottom left corner of wallet. But indeed was confusing for me too.

[2020-11-11 23:17] cryptoBeliever commented on #650
@jabo38 Could you verify on latest build if it's fixed? For me it's presenting correctly.

[2020-11-11 23:20] cryptoBeliever commented on #623
@trestoJP encrypted messages for multi-sig are blocked now. It's because cosigner don't know (in most cases) private key of multi-sig account.

[2020-11-11 23:24] cryptoBeliever commented on #649
This should be fixed now. There are some other issues with starting for multisig account but this is another issue.
Please close if fixed.

[2020-11-11 23:29] cryptoBeliever commented on #515
I'm closing it because harvesting was changed.

[2020-11-11 23:29] #515 closed

[2020-11-11 23:35] cryptoBeliever commented on #528
Closing,

[2020-11-11 23:35] #528 closed

[2020-11-11 23:46] cryptoBeliever commented on #621
@trestoJP should be fixed now. If yes, please close.

[2020-11-12 00:55] GodTanu opened #667 "Delegated harvesting goes unresponsive."
Ver 0.13.4

Delegated harvesting goes unresponsive.

After the aggregate comple, the pristentharvestdelegation will not be issued and will time out.
After that, you cannot operate from the desktop wallet.
If it fails, various unlinks need to be implemented.
and Maybe Delegated harvesting cannot be released in case of an error in the issuance of presistentharvestdelegation too.

[2020-11-13 15:03] trestoJP opened #669 "Display of Harvested Blocks"
17 or more Harvested Blocks cannot be displayed. It need to add a scroller or something.
It might be useful to have a link from the block number to the explorer.

![ 2020-11-13 23-59-15-083](https://user-images.githubusercontent.com/59822825/99086397-d29e8800-260c-11eb-9faa-9e4783324e72.png)

[2020-11-14 17:28] garm01 opened #670 "Format of certain properties of an address"
The wallet should be easy to understand for the average user. After all, these are the people who use it.
This also applies to the "Importance" of an address. It should be displayed as in the explorer.
e.g. "0.001352%"

![1Importance](https://user-images.githubusercontent.com/46584115/99153148-0201d300-26a7-11eb-83f0-af6292b3bd70.png)

[2020-11-14 18:00] garm01 commented on #670
and look at here:

![2Importance](https://user-images.githubusercontent.com/46584115/99153856-9110ea00-26ab-11eb-9563-9fdd8cd7b232.png)

[2020-11-14 20:07] garm01 commented on #650
The current solution is also not optimal. Although there is enough space, you have to scroll to enter the password. This is not obvious at first glance.
The scrollbar is too light and too narrow. I know these may be minor details, but it should be as intuitive as possible to use.

[2020-11-15 13:10] garm01 commented on #631
the same here:
![Wallet-button](https://user-images.githubusercontent.com/46584115/99185745-2bc10580-274c-11eb-9851-b62dbd5f777f.png)

[2020-11-15 13:59] garm01 opened #671 "Note not visible with normal window size."
The note "Copy" should appear to the side or above the button.

![Copy-button2](https://user-images.githubusercontent.com/46584115/99187252-ba865000-2755-11eb-851e-9b74338eb8b5.png)

PS: Scroll bar(Message Field) should only appear when the message exceeds the size of the field and another line is required.

[2020-11-15 14:05] garm01 commented on #671
the same here, pop up only half visible:
![Pop-up](https://user-images.githubusercontent.com/46584115/99186927-ed2f4900-2753-11eb-8152-539f79fd5b8d.png)

[2020-11-16 21:57] cryptoBeliever commented on #670
Interesting. I guess it depends on localization because I can see:

![image](https://user-images.githubusercontent.com/17684281/99313005-23a5ba80-285f-11eb-9e31-8aad952ff295.png)

[2020-11-16 22:19] garm01 commented on #670
Not sure, I used " [0.13.4][v0.13.4] - 11-Nov-2020 "

[2020-11-17 12:18] garm01 commented on #670
The first picture :
#locale
LANG=de_DE.UTF-8
LC_CTYPE="de_DE.UTF-8"
LC_NUMERIC="de_DE.UTF-8"
LC_TIME="de_DE.UTF-8"
LC_COLLATE="de_DE.UTF-8"
LC_MONETARY="de_DE.UTF-8"
LC_MESSAGES="de_DE.UTF-8"
LC_PAPER="de_DE.UTF-8"
LC_NAME="de_DE.UTF-8"
LC_ADDRESS="de_DE.UTF-8"
LC_TELEPHONE="de_DE.UTF-8"
LC_MEASUREMENT="de_DE.UTF-8"
LC_IDENTIFICATION="de_DE.UTF-8"
LC_ALL=
                                       ---

[2020-11-17 21:56] cryptoBeliever opened #678 "Change request - add sound when sending/receiving transactions"
In the NIS1 desktop wallet are two sounds played when sending/receiving transactions.
The community is used to it and would be nice to have it also in Symbol wallet.
The suggestion is to allow to turn it on in Settings. Of course, is a low priority for now before lunch but worth implementing it.

Here is a pool on Twitter regarding this change request:
https://twitter.com/mikunnem/status/132739241

[2020-11-18 18:21] rg911 opened #689 "Multisig graph tree view display"
Optimize the tree view in account info page to provide more meaningful display

[2020-11-18 18:27] rg911 opened #690 "UI - Change mosaic supply - fee selector not visible"

[2020-11-18 18:29] rg911 opened #691 "Not all cosigners visible when we have more than 11"

[2020-11-18 18:30] rg911 opened #692 "Co-signer account indicated as Multisig in the From field"
On inactive Transfer page under Multisig account there is co-signer account indicated as Multisig in the From field

Steps to reproduce:
1. Create multisig account
2. Go to Transfer on Home under Multisig acount
3. Switch to another co-signer account via upper menu
4. Switch back to Multisig account

Expected result: In From field on inactive Transfer page the Multisig account is indicated as such

[2020-11-18 18:31] rg911 opened #693 "Under Multisig account not all Aggregate page is inactive"
Steps to reproduce:
Go to Aggregate page under Multisig account

Expected result: All the page is inactive for interaction
Actual result: Buttons 'Save' and 'Send aggregate' are active partially allowing to click them

[2020-11-18 18:33] rg911 opened #694 "Not all Aliases are displayed(when there are more namespaces)"
I have created 7 namespaces and linked to address, but alias in the account tab is not displaying all

[2020-11-18 18:34] rg911 opened #695 "Show expired mosaics button is not working"
Show expired button is not displaying the expired mosaics

[2020-11-18 18:35] rg911 opened #696 "Address QR code not able to export"
Address QR code export option is not there .

[2020-11-18 20:00] rg911 opened #698 "Issues on Invoice view"
There are some small issues on Invoice view:

1) Problem with missing recipient public key.
  A) Go to Invoice view (address is filled by default).
  B) Put random message.
  C) Check encrypted message
Result: Error Invalid recipient public key. When we put again same address into "To" input problem disappers. Probably public key in background is not initialized for default "To" value

2) No way t

[2020-11-18 20:35] rg911 opened #700 "Remove persistentDelegateHarvesting signed transaction details from the first step key link confirmation modal"
currently showing both transactions in delegated harvesting step 1 (key links)

[2020-11-18 23:19] cryptoBeliever opened #702 "Transaction filter selection disapears after closing filter"
1. Go to transaction list.
2. Filter by received transactions.
3. Close filter
4. Open the filter again. Received filter is not selected. Closing filter is reseting selection (it shouldn't)

Same with other options.

[2020-11-19 00:03] trestoJP opened #703 "Transaction type selection in aggregates is invisible"
Invisible
![ 2020-11-19 09-00-30-902](https://user-images.githubusercontent.com/59822825/99603139-0da61e80-2a46-11eb-93f1-e6716106de98.png)

[2020-11-19 00:31] trestoJP opened #704 "Mosaic transactions in aggregate, "Supply" is not set."
As the title says.

[2020-11-19 02:08] fboucquez opened #705 "Missing Node Link Transaction Icon"
![image](https://user-images.githubusercontent.com/5390558/99611732-f8ec6b00-29f2-11eb-9846-63fac73f1eb6.png)

[2020-11-19 06:36] cryptoBeliever commented on #623
Closing (look comment above). Encrypted messages not available for multisig.

[2020-11-19 06:36] #623 closed

[2020-11-19 07:02] cryptoBeliever commented on #666
Fixed in https://github.com/nemgrouplimited/symbol-desktop-wallet/releases/tag/v0.13.5

[2020-11-19 07:02] #666 closed

[2020-11-19 07:02] cryptoBeliever commented on #545
Fixed in https://github.com/nemgrouplimited/symbol-desktop-wallet/releases/tag/v0.13.5

[2020-11-19 07:02] #545 closed

[2020-11-19 07:04] cryptoBeliever commented on #524
@meyns you can remove only one cosigner at once.
Should be fixed in https://github.com/nemgrouplimited/symbol-desktop-wallet/releases/tag/v0.13.5
If not please reopen.

[2020-11-19 07:04] #524 closed

[2020-11-19 07:05] cryptoBeliever commented on #669
Blocks presentation fixed.
@yilmazbahadir can we add link to explorer when clicking on block height?

[2020-11-19 07:06] cryptoBeliever commented on #638
Presentation changed for same as for public key (copy button added).
Fixed in https://github.com/nemgrouplimited/symbol-desktop-wallet/releases/tag/v0.13.5

[2020-11-19 07:06] #638 closed

[2020-11-19 07:07] cryptoBeliever commented on #665
@trestoJP should be fixed in https://github.com/nemgrouplimited/symbol-desktop-wallet/releases/tag/v0.13.5
Please verify and reopen if not. Harvesting was changed to two steps (linking and activating)

[2020-11-19 07:07] #665 closed

[2020-11-19 07:08] cryptoBeliever commented on #696
There is button to download QR in https://github.com/nemgrouplimited/symbol-desktop-wallet/releases/tag/v0.13.5
![image](https://user-images.githubusercontent.com/17684281/99632918-5a85f700-2a3e-11eb-84d8-804e531cfe91.png)

[2020-11-19 07:08] #696 closed

[2020-11-19 07:09] cryptoBeliever commented on #621
Closing.

[2020-11-19 07:09] #621 closed

[2020-11-19 07:10] cryptoBeliever commented on #578
OK, closing

[2020-11-19 07:10] #578 closed

[2020-11-19 07:11] cryptoBeliever commented on #622
As described in https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/624 you need to switch to multisignature account. Closing and leaving discussionin #624

[2020-11-19 07:11] #622 closed

[2020-11-19 07:13] cryptoBeliever commented on #540
Fixed.

[2020-11-19 07:13] #540 closed

[2020-11-19 07:15] cryptoBeliever commented on #565
Fixed. Right now you can't create such profile.

[2020-11-19 07:15] #565 closed

[2020-11-19 07:15] cryptoBeliever commented on #558
Fixed in latest release.

[2020-11-19 07:15] #558 closed

[2020-11-19 07:16] cryptoBeliever commented on #550
@yilmazbahadir it's fixed so I'm closing.

[2020-11-19 07:16] #550 closed

[2020-11-19 07:16] cryptoBeliever commented on #551
@yilmazbahadir it's fixed so I'm closing.

[2020-11-19 07:16] #551 closed

[2020-11-19 07:36] cryptoBeliever commented on #703
Something wrong on standalone versions. Confirmed on Linux snap version.

[2020-11-19 07:54] cryptoBeliever commented on #695
Work when I tried.

[2020-11-19 09:17] cryptoBeliever commented on #705
@fboucquez you initialized this tx from outside of wallet right? Because from wallet is initialized as aggregate (three links).

[2020-11-19 09:18] #695 closed

[2020-11-19 09:41] cryptoBeliever commented on #537
@OlegMakarenko it's fixed.

[2020-11-19 09:41] #537 closed

[2020-11-19 09:44] cryptoBeliever commented on #511
@garm01 harvesting was rebuilded. Please verify if it's fixed. If not please reopen or create seperate bug.

[2020-11-19 09:44] #511 closed

[2020-11-19 09:45] cryptoBeliever commented on #690
Duplicate of https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/526

[2020-11-19 09:45] #690 closed

[2020-11-19 09:47] cryptoBeliever commented on #557
I'm closing it. https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/671 contains one more bug and this one too.

[2020-11-19 09:47] #557 closed

[2020-11-19 09:48] cryptoBeliever commented on #533
Closing.

[2020-11-19 09:48] #533 closed

[2020-11-19 09:51] cryptoBeliever commented on #597
@jabo38 could you verify current behavior?

[2020-11-19 09:51] cryptoBeliever commented on #598
@jabo38 could you verify on current version?

[2020-11-19 09:52] cryptoBeliever commented on #667
@GodTanu on current version I don't have problem. Could you confirm on your side?

[2020-11-19 10:35] cryptoBeliever opened #707 "On transaction confirmation pop-up "From" is cosigner instead multisig when sending tx"
Steps:

1. Go to cosigner of multisig account.
2. Go to send view and switch to multisig from which you want send
3. Init transaction. On pop-up "From" is a cosigner address instead multisig.

Probably wallet is taking signer instead account from which coins will be send.

[2020-11-19 11:16] cryptoBeliever commented on #691
Same for aggregate:

![image](https://user-images.githubusercontent.com/17684281/99659395-16f0b480-2a61-11eb-9649-05002eefcf6c.png)

[2020-11-19 11:17] cryptoBeliever commented on #691
And screenshot for multisig creation:

![image](https://user-images.githubusercontent.com/17684281/99659438-296aee00-2a61-11eb-9fa2-60abcf7c60a8.png)

[2020-11-19 11:19] cryptoBeliever commented on #693
Closing since it's fixed.

[2020-11-19 11:19] #693 closed

[2020-11-19 12:04] meyns opened #708 "Send button in Multisig not working"
Pressing the send button on the multisig screen does not work.
If however the number of Removal or Approval is larger than the amount of cosigners provided or if they are set to 0 an error occurs . Yes, this is normal behaviour, but if everything is filled in correctly nothing happens when pressing the send button.
Vesion 0.13.5
This only happens with 1 account, that has previously been a multisig

[2020-11-19 12:13] cryptoBeliever commented on #547
Should work on latest version.

[2020-11-19 12:13] #547 closed

[2020-11-19 12:51] surekabpm opened #709 "Bug - When you click the import private key, getting blank page"
When you click the import private key(in create mnemonics page), getting blank page

[2020-11-19 12:54] surekabpm opened #710 "Bug - Mnuemonics order changed - error message is not appearing"
While creating an account, via mnemonics , if I change the order, error message need to be displayed ,it is not displaying .screenshot attached
![image](https://user-images.githubusercontent.com/49143210/99668962-68fefd80-2a94-11eb-9c6b-10659c26f87a.png)
![image](https://user-images.githubusercontent.com/49143210/99668987-71efcf00-2a94-11eb-9192-b89be19e19a8.png)

[2020-11-19 12:58] surekabpm opened #711 "Bug - Next button not working while importing an account"
While importing an account , the next button is not working, not able to navigate further
![image](https://user-images.githubusercontent.com/49143210/99669374-f2aecb00-2a94-11eb-85d7-2e3b63f4c7d2.png)

[2020-11-19 15:32] Eugenity opened #712 "Bug - Coins are transferred from co-signer account instead of Multisig"
Steps to reproduce:

1. Create a couple 'Miltisig account — co-signer' using different profiles (from one browser)
2. Initiate a simple transfer transaction from Multisig account under co-signer
3. Pay attention to coins being subsctracted from co-signer account and not substracted from Multisig

Actual result: Coins are trasfered from co-signer account
Expected result: Coins are transfered from M

[2020-11-19 20:09] cryptoBeliever opened #714 "Different formats of Address QR in desktop wallet"
In desktop wallet we have:
- paper wallet (where is presented Address QR)
- and account view - there is also Address QR

Address QR on account view has a different format than paper wallet Address QR.
This should be changed to be consistent with the paper wallet Address QR.

[2020-11-19 21:38] cryptoBeliever commented on #708
@meyns what node are you using and what system?
I created new profile and imported this private key. When I go to multisig tab I see:

![image](https://user-images.githubusercontent.com/17684281/99727214-ec7e1600-2ab7-11eb-85f3-2e443993d024.png)

[2020-11-19 21:41] cryptoBeliever commented on #704
There is also no way to set supply (no input)

[2020-11-20 11:07] rg911 opened #717 "Considering add exchanges support with auto transfer message pop up."
In NIS1 nano wallet, there are pre-defined exchange addresses stored, which auto-detect if out going transaction is sending to a known exchange, then automatically pop up the required transfer message for the user.

[2020-11-20 12:18] bassemmagdy commented on #225
Thanks, @jabo38 for reporting this, Note that the latest [release](https://github.com/nemgrouplimited/symbol-desktop-wallet/releases/tag/v0.13.5) has metadata for Account / Mosaic / Namespace.

[2020-11-20 12:18] #225 closed

[2020-11-20 12:26] bassemmagdy commented on #514
Thanks, @evias  for reporting this, Note that the latest release has custom aggregate transactions included, currently support 3 types of inner transactions: Transfer / MosaicDefination / NamespaceRegistration. linked to #

[2020-11-20 12:26] bassemmagdy commented on #514
Thanks, @evias  for reporting this, Note that the latest release has custom aggregate transactions included, currently support 3 types of inner transactions: Transfer / MosaicDefination / NamespaceRegistration.

[2020-11-20 12:26] #514 closed

[2020-11-20 12:27] bassemmagdy commented on #505
related to #514

[2020-11-20 12:27] #505 closed

[2020-11-20 13:01] garm01 opened #719 "message transfer with the amount set to "0""
If you delete the amount and only enter a "0" to send a plain text message, you will get an error message.
With the basic setting "0", this error message does not appear.

![validation](https://user-images.githubusercontent.com/46584115/99802312-c8fab000-2b37-11eb-9e4b-213bd1939255.png)

[2020-11-20 14:36] bassemmagdy commented on #711
@surekabpm Have you tried to paste/write your backed-up mnemonic and still facing that problem? If yes can you please share your mnemonic?

[2020-11-20 14:47] bassemmagdy commented on #712
@Eugenity can you please share your Multisig structure for different profiles/accounts?

[2020-11-20 16:57] bassemmagdy commented on #707
not reproducible

[2020-11-20 17:36] bassemmagdy commented on #704
Hey @trestoJP, The reason behind that is that you can't bundle aggregate transactions inside each other. In the case of mosaic creation aside from aggregates. Firstly, we initiate MosaicDefinitionTransaction to create a mosaic then we initiate MosaicSupplyChangeTransaction to provide the funds/supply for that mosaic, meaning that the creation of mosaic with funds is an aggregate transaction itself

[2020-11-20 17:36] #704 closed

[2020-11-20 19:40] yilmazbahadir opened #720 ""Unknown publisher" warning during windows/mac (exe/dmg) installation"
We should be signing the code during the "npm run release" step.

Please see https://www.electron.build/code-signing

[2020-11-20 20:05] yilmazbahadir opened #721 "Exporting platform agnostic zip file artifact during release"
We need to export the build as a zip file during the release process and list in the released assets. A user should be able to download, extract and open the index.html via his browser (independent of their operating systems).

[2020-11-21 10:17] cryptoBeliever commented on #707
I'm not able to reproduce now too. Closing.

[2020-11-21 10:17] #707 closed

[2020-11-21 11:02] cryptoBeliever opened #722 "Unable to sign "Add metadata" for namespace and mosaic if targetAccount != senderAccount"
We have two accounts - account A1 and account A2

A1 - has namespace "test"
A2 - has no namespaces

1. Go to account A1.
2. Go to namespaces, click "Add metadata"
3. Choose namespace test and put target account = A2
4. Init transaction. Transaction is initialized.
5. I'm going to account A2, but there is no transaction to sign.

Analogous problem with mosaics.

[2020-11-21 11:30] cryptoBeliever opened #723 "Mosaic not added to mosaic list when created from aggregate"
Steps:

1. Create account and go to aggregate tab.
2. Add namespace with random name to aggregate.
3. Add mosaic (without chaning any setting)
4. Init transaction and wait for confirmation.

Result: Namespace is visible on namespaces list but mosaic is not visible on mosaic list.

Example mosaic was added for this account (but it's not visible there):
http://explorer-0.10.0.x-01.symboldev.network/

[2020-11-21 11:33] cryptoBeliever commented on #704
@bassemmagdy but this implies the creation of a mosaic with mutable supply because without this there will be no way to change supply. As it turned out such mosaic without supply is not visible too on mosaics list... Maybe can we flatten txs into one aggregate without nesting?
Please check https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/723

[2020-11-21 11:55] cryptoBeliever commented on #719
Steps:
1. Remove 0 from symbol.xym amount
2. Put again 0 into symbol.xym amount
3. Validation error is presented

Expected result: Application should allow send 0 XYM (because for example we want add message) when we chaning amount.

[2020-11-21 12:10] cryptoBeliever commented on #694
![Uploading image.png…]()

[2020-11-21 12:11] cryptoBeliever commented on #694
![image](https://user-images.githubusercontent.com/17684281/99876975-03795100-2bfb-11eb-9f20-6640fc65fc98.png)

[2020-11-21 12:40] cryptoBeliever opened #724 "Unable to add json Address Book after attaching invalid format file"
Steps to reproduce:

1. Make sure there is no contacts
2. Go to 'My contacts' tab and click 'Import address book'
3. Select or drag a file with invalid format (any but not json file)
4. Select a valid format file with an Address book (json)

Expected result: A user is able to add a json address book
Actual result: A user is unable to add a json address book file after once attaching the invalid on

[2020-11-23 09:31] surekabpm opened #725 "Import QR code , next button missing"
login to an account, click on the import QR code link, upload an QR code , what is the next step/button ?

![image](https://user-images.githubusercontent.com/49143210/99946567-900f4500-2d9c-11eb-950c-24f19d1a609a.png)

[2020-11-23 09:41] surekabpm opened #726 "scan via camera is not working"
login into account , click import QR code link,select scan via camera, it is blank page
@AdriaCarrera
    ![image](https://user-images.githubusercontent.com/49143210/99947441-fea0d280-2d9d-11eb-9d92-d7e3d5790744.png)

[2020-11-23 10:09] yilmazbahadir commented on #726
@surekabpm It should ask your permission to access the camera and you should accept it before you can see it streaming. Can you describe your environment? (Operating System, thru Browser or Electron App)

[2020-11-23 10:36] surekabpm opened #727 "Bug - phone number , email validation in add an account"
When you add an account , in the contact information validation of email need to be fixed.Also need to know the length of numbers for phone number
![image](https://user-images.githubusercontent.com/49143210/99952464-b9809e80-2da5-11eb-89c2-ce84560f475a.png)
![image](https://user-images.githubusercontent.com/49143210/99952518-cb624180-2da5-11eb-976a-77a7de579c4a.png)

[2020-11-23 10:37] #504 closed

[2020-11-23 10:41] surekabpm opened #728 "Bug - Back up of address book is a JSON file"
Under the Accounts tab, click my contacts and when you click the back up address book , the file generated is a JSON file. is that ok ? i'm not sure on the expected result @AdriaCarrera
![image](https://user-images.githubusercontent.com/49143210/99952871-5f340d80-2da6-11eb-8a1e-3cdda28cfa5f.png)

[2020-11-23 10:42] surekabpm commented on #726
Hi, I'm having windows ,chrome browser, I'm not getting any pop up for accessing camera

[2020-11-23 10:43] yilmazbahadir commented on #458
Reviewed the dependencies over time, noticed that moving symbol-qr-library from devDependencies to dependencies caused other issues during the release process with electron-builder.

[2020-11-23 10:43] #458 closed

[2020-11-23 10:50] NikolaiYurchenko commented on #692
can not reproduce

[2020-11-23 11:30] Eugenity commented on #712
@bassemmagdy

TD5CPJFORQR322VWEFNLVGGA7P2ZQDUQM5NPVIY is Multisig account from which transfer should have been held. TAPFPMXMC7RSPIBNMNSMVU4TZHFQMKVKZPCAIRY is a co-signer account from which the actual transfer was made. TAIBJKGZRY35WL6ALUQ47VOJM7FWPXEVDTBNZEY is the recipient address.

[Link to a transaction in the block explorer](http://explorer-0.10.0.x-01.symboldev.network/transactions/324AAC8

[2020-11-23 11:54] cryptoBeliever commented on #726
@surekabpm please install app from here: https://github.com/nemgrouplimited/symbol-desktop-wallet/releases/tag/v0.13.5
Don't use live build http://desktop-build.symboldev.com/ for that. Browser is blocking if not HTTPS or localhost.

[2020-11-23 11:55] cryptoBeliever commented on #728
@surekabpm yes. This is expected. In json file is backup of address book.

[2020-11-23 11:55] #728 closed

[2020-11-23 11:57] cryptoBeliever commented on #727
I don't think that validation of phone length make sense since in different countries you have different format.
Email could be validated.

[2020-11-23 12:59] surekabpm commented on #725
![address-qr-Seed Account 1](https://user-images.githubusercontent.com/49143210/99964736-c8714c00-2db9-11eb-87fe-521d57f067b9.png)

[2020-11-23 17:38] cryptoBeliever opened #730 "Graph API call for accounts that are not cosigners and multisigs"
For accounts that are not cosigners and not multisigs call for multisig/graph is not necessary (return always 404).
If it's possible to avoid would be nice.

![image](https://user-images.githubusercontent.com/17684281/99995734-176bb100-2dbb-11eb-90fe-d40effff6f18.png)

[2020-11-23 23:16] #709 closed

[2020-11-23 23:17] cryptoBeliever commented on #709
It's fixed in latest

[2020-11-24 05:45] NikolaiB opened #731 "[Bug][Delegate Harvesting] While choosing multisig account to delegate harvesting getting TypeError: Cannot read property 'selectedHarvestingNode' of undefined"
WTR:
1. Create multisig account from 2 separate desktop wallets (not child account)
2. Go to Harvesting page
3. Choose multisig account from **From** dropdown list

Result: When the account was chosen, getting error in console `TypeError: Cannot read property 'selectedHarvestingNode' of undefined`

![image](https://user-images.githubusercontent.com/11311924/100233326-c9d67c00-2f53-11eb-99a7-3b48f6

[2020-11-24 10:59] yilmazbahadir commented on #731
Can you please try the same steps with a fresh multi-sig account(or same account with stop and restart)? Because I think, in the first screenshot you shouldn't be seeing the "INACTIVE" status and "Activate" button at the same time. For the past deadline error, I suspect, it's been at least 24 hours since you first initiated the process because the deadline for multi-sig transactions is 24 hours.

[2020-11-24 11:37] yilmazbahadir opened #732 "Confirmation modal on delete account"
We should show a confirmation modal (with text) before deleting the account.

[2020-11-24 12:07] NikolaiB commented on #731
@yilmazbahadir I am getting a new error now. Please find the updated description above.

[2020-11-24 12:46] Eugenity opened #733 "User is able to initiate transfer transaction under Multisig account [BUG]"
Steps to reproduce:

1. Create multisig account
2. Go to Transfer on Home under Multisig acount
3. Switch to another co-signer account via upper menu
4. Standing on Transfer under co-signer account select co-signer account in the From field
5. Toggle back to Multisig account in the From field
6. Switch to Multisig account via upper menu
7. Initiate the transfer transaction

Expected result: The tr

[2020-11-24 12:48] Eugenity opened #734 "Green pop-up about using Multisig acount is not displayed [BUG]"
Steps to reproduce:

1. Create multisig account
2. Go to Transfer on Home under Multisig acount
3. Switch to another co-signer account via upper menu

Expected result: The green pop-up about using Multisig acount in From field under co-signer account is displayed
Actual result: There is no green pop-up about using Multisig acount in From field under co-signer account

[Video](https://www.loom.com/

[2020-11-24 12:55] yilmazbahadir commented on #731
Could you list the steps to reproduce?

[2020-11-24 13:59] yilmazbahadir commented on #700
This is not an issue as discussed.

[2020-11-24 13:59] #700 closed

[2020-11-24 14:07] #669 closed

[2020-11-24 14:08] yilmazbahadir commented on #669
This shouldn't be valid anymore (with the latest release)

[2020-11-24 14:13] yilmazbahadir commented on #658
Can you share more details on this? (list of pages, screenshots etc. )

[2020-11-24 14:17] yilmazbahadir commented on #649
Closing it since the latest release should fix it.

[2020-11-24 14:17] #649 closed

[2020-11-24 14:21] yilmazbahadir commented on #633
Since the logout button is added to the settings page, this issue is fixed.

[2020-11-24 14:21] #633 closed

[2020-11-24 14:57] yilmazbahadir commented on #538
You are not using browser and this is an Electron app right?

[2020-11-24 15:02] yilmazbahadir commented on #567
Since UI/UX has been changed with the latest release, we don't show diagnostic console and this issue is not relevant any more.

[2020-11-24 15:02] #567 closed

[2020-11-24 16:18] #597 closed

[2020-11-24 16:21] jabo38 commented on #598
I was on whatever version was being uploaded on http://desktop-build.symboldev.com/ at that time. I don't know what the version was.

[2020-11-24 17:53] yilmazbahadir commented on #726
@surekabpm Can you please close this issue if it is not valid?

[2020-11-24 18:11] garm01 commented on #658
The scroll bars in the wallet are quite narrow. This makes the operation with the touchpad (Notebook) a bit unwieldy.
(e.g. selection of the fee,Dashboard etc.)
When operating the wallet, the user should be able to concentrate on the contents and not on catching the scroll bar.
Perhaps avoiding them whenever possible is enough.
This is my subjective impression, one should also consult the opinion

[2020-11-24 18:41] OlegMakarenko commented on #538
@yilmazbahadir Yes, an Electron app

[2020-11-24 19:06] garm01 opened #735 "empty window after logout"
Empty white window after logout.

Output bash:

~/0-13-5/symbol-desktop-wallet-linux-x64-0.13.5> ./symbol-desktop-wallet
(electron) 'getName function' is deprecated and will be removed. Please use 'name property' instead.
(electron) The default value of app.allowRendererProcessReuse is deprecated, it is currently "false".  It will change to be "true" in Electron 9.  For more information please che

[2020-11-24 19:38] cryptoBeliever commented on #735
Yes. Have the same (blank screen) on Linux electron build. On HTML build it work well.

[2020-11-24 19:56] yilmazbahadir commented on #733
Related to https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/734

[2020-11-25 05:13] surekabpm commented on #711
@bassemmagdy , i have tried with mneumonic phrase , it is working , previously i have seen qr code import/download apart from mneumonics ,that is why is raised this issue, if this functionality is for only mneumonics import , then i can close this issue.but please confirm from your side

[2020-11-25 05:28] surekabpm commented on #709
As of now, i'm not able to see the link for the import private key in the mneumonics page , i believe it is removed

[2020-11-25 06:29] surekabpm opened #736 "Address book import - issue when adding for second time"
When you click the import address book , upload the address book (json file) on first go , it is working, but the scenario i tried is I uploaded a invalid address file , it gave invalid address, but when i uploaded the correct one, it is still showing invalid address,not moving further
![image](https://user-images.githubusercontent.com/49143210/100191100-94ab3900-2f15-11eb-9d4b-8f9d319d3830.png)
!

[2020-11-25 06:35] surekabpm opened #737 "Configuring new account - without data also , account is created"
From my contact page, click the add an account , without giving any name and address click confirm, an account is formed still without name

@yilmazbahadir

![image](https://user-images.githubusercontent.com/49143210/100191393-0a170980-2f16-11eb-9abf-decb5b47e330.png)
![image](https://user-images.githubusercontent.com/49143210/100191461-2a46c880-2f16-11eb-81ca-582ea2b93c61.png)

[2020-11-25 07:32] surekabpm opened #738 "Icons in contact information - no response (+ icon and delete icon)"
In my contact page, add an account , when you click the account ,edit pen icon then you can see + icon and delete icon, i'm not sure that is working , if i click delete icon, it is neither deleted nor when i click the + icon no reaction
![image](https://user-images.githubusercontent.com/49143210/100196083-6120dc80-2f1e-11eb-90e2-352f5d4ccfef.png)

[2020-11-25 09:57] NikolaiB opened #739 "[News page] Getting Network Error while loading Latest news and articles"
WTR:
1. Go to News page
Result: you can observe loader and Network Error in console

![image](https://user-images.githubusercontent.com/11311924/100211776-bff25000-2f36-11eb-8158-5193ed9d42c5.png)

[2020-11-25 10:01] yilmazbahadir commented on #598
Hi @jabo38, the latest release should fix this issue, can you test and close the issue if resolved?

[2020-11-25 10:05] yilmazbahadir commented on #667
@GodTanu @cryptoBeliever Is this issue still valid(on 0.13.5)? If not can we close this issue?

[2020-11-25 10:11] bassemmagdy commented on #711
thanks, @surekabpm for reporting. The issue should be resolved in the latest release

[2020-11-25 10:11] #711 closed

[2020-11-25 11:52] surekabpm commented on #726
Closing this issue as it is not valid

[2020-11-25 11:52] #726 closed

[2020-11-25 12:04] segfaultxavi opened #740 "QR code is too small to scan"
Even though there's plenty of unused space in this screen, the QR code is too small and my phone fails to scan it.
If I download the code and show it a bit bigger using another program, it scans correctly.
In the screencap from my phone you can see the pixels of the QR code have approximately the same size as the LCD pixels of my monitor, so they are very hard to recognize.
If the code cannot be m

[2020-11-25 13:54] NikolaiB opened #741 "[Bug][Multisig account] Can not Remove Cosignatory"
WTR:
1. Create multisig account from 2 separate desktop wallets (not child account)
2. Go to Multisig page and try to Removed Cosignatory a few times
3. Go to Dashboard

Result: You can see that found was locked a few times but cosignatory still not removed

![image](https://user-images.githubusercontent.com/11311924/100236759-49664a00-2f58-11eb-85f2-d99e80ea0d07.png)

[2020-11-25 14:40] segfaultxavi opened #742 "Incorrect error message when setting empty Mosaic Metadata"
Select MOSAICS->ADD METADATA->SEND.
Three popups appear saying that there's information missing, but the middle one reads: ``The {field} field is required``
![image](https://user-images.githubusercontent.com/10949043/100241715-4a858000-2f34-11eb-9743-b3bf65638e9a.png)

[2020-11-26 06:56] surekabpm opened #743 "Two same namespace is created"
I believe namespace is identical and unique, i have created two namespace name_980 , it has accepted and transaction is confirmed..  in transaction they are confirmed but in the namespace it is not listed twice..
@yilmazbahadir  please check this address key - TB3KWQJRW7QIW3IVFCPIE6L4CYGTG44NGU3BOOQ
![image](https://user-images.githubusercontent.com/49143210/100317322-284a3b80-2fe2-11eb-92f2-c6d99

[2020-11-26 07:18] yilmazbahadir commented on #743
As far as I can see they are not identical => "name_980" != "name_9**9**0"

[2020-11-26 07:24] surekabpm commented on #743
please scroll little down and check the namespace transaction
![image](https://user-images.githubusercontent.com/49143210/100319914-6ea19980-2fe6-11eb-9da3-bdcf7567a1f3.png)

[2020-11-26 08:00] yilmazbahadir commented on #743
Okay, checked with the PK provided. I think, this is the expected behaviour, the owner account of the namespace can send the tx with the same name again but a different account cannot use the same name(it gives the error attached)

![Screenshot 2020-11-26 at 07 55 06](https://user-images.githubusercontent.com/6256269/100323194-4487b180-2fbd-11eb-8cfe-597223b7f293.png)

[2020-11-26 08:32] surekabpm commented on #743
ok, thanks for the clarification.closing the issue

[2020-11-26 08:32] #743 closed

[2020-11-26 21:14] cryptoBeliever commented on #740
It works on my phone without any issue. However it's good idea to think about make it a little bigger or give option to present bigger version on layer.

[2020-11-26 21:16] cryptoBeliever commented on #667
I think we can close. @GodTanu if you will still have any problem please let us know.

[2020-11-26 21:16] #667 closed

[2020-11-26 21:21] cryptoBeliever commented on #739
@NikolaiB could you check on installed version (not live build):
https://github.com/nemgrouplimited/symbol-desktop-wallet/releases/tag/v0.13.5

[2020-11-27 08:09] NikolaiB commented on #739
@cryptoBeliever yep, it works on installed version

[2020-11-27 09:16] #739 closed

[2020-11-27 12:42] Eugenity opened #747 "A user is able to add an empty contact in mobile app [Bug]"
Steps to reproduce:
1. Open address book in mobile app
2. Tap "Add contact" button
3. Tap "Add" button w/o providing any information
Expected result: The "Name" and "Address" fields are required not letting to save an empty contact.
Actual result: An empty contact is saved.

[Video](https://share.getcloudapp.com/9Zu0PEkA)

[2020-11-27 13:23] #747 closed

[2020-11-30 11:12] bassemmagdy commented on #598
Thanks, @jabo38 for reporting the issue,  Since the latest wallet release doesn’t allow users to create child accounts from a private key seeded wallet only passphrase seeded wallets, also creating a profile from importing a private key isn't an available option right now, Meaning that the issue should be non-reproducible anymore.

[2020-11-30 11:12] #598 closed

[2020-11-30 12:19] Peersyst opened #748 "Add account restrictions"
**Task list**

- [x] Design mocks

- [ ] UX/UI for the modal, form and list

- [ ] Logic for restriction list (mosaics, address and operation)

- [ ] Remove restriction logic (mosaic, address and operation)

- [ ] Add new restriction logic

**Mock up**
![account-restriction-mockups](https://user-images.githubusercontent.com/54996852/100609612-9490ac00-330e-11eb-94f2-e7e6bd637eee.jpg)

[2020-11-30 12:52] Eugenity opened #749 "Carriage in "To" field for Simple transaction under Multisig account via Aggregate [Bug]"
Steps to reproduce:
1. Select a Multisig account from your profile
2. Go to Aggregate page
3. Click on the "+" button near the Simple transaction
4. Paste any data into "To" field e.g. recipient's address

Expected result: There is no carriage in the "To" field for a Multisig account
Actual result: There is a carriage in the "To" field for a Simple transaction operation under Multisig account via

[2020-11-30 12:58] Eugenity opened #750 "Not all the Aggregate page is inactive under Multisig account [Bug]"
Steps to reproduce:
1. Go to Aggregate page under Multisig account
2. Click onto the left part of the fee selector button in the "My transactions" block

Expected result: All the Aggregate page space is inactive
Actual result: A user is able to activate a fee selector button under Multisig account on the Aggregate page

[Video](https://www.loom.com/share/cad828fd2b2943bf8b9475a75c9e0233)

[2020-11-30 13:27] NikolaiB opened #751 "[UI issues] Content blocks on Harvesting page are not centered"
v0.13.5

WTR:

Go to Harvesting page

Result: you can see that blocks content are not centered

![image](https://user-images.githubusercontent.com/11311924/100615914-7e044800-3342-11eb-8c35-ababea3c7cfa.png)

[2020-11-30 16:35] fboucquez opened #752 "Add private and private test network types"
The latest alpha SDK adds private and private test networks

https://github.com/nemtech/symbol-sdk-typescript-javascript/blob/dev/src/model/network/NetworkType.ts#L45

We should add those to the wallet, for example, the network type selectors:

![image](https://user-images.githubusercontent.com/5390558/100636393-6dd37500-3310-11eb-953f-15ce252bbfd3.png)

At least:

https://github.com/nemgrouplimit

[2020-12-01 06:34] surekabpm opened #753 "Encrypt message - for the first transaction the encrypt message is not working"
I created an account , added XEM amount, and i tried to transfer amount, during that transaction, i clicked the encrypt messgae , i'm getting error. is this the right behaviour i.e for the first transaction, it will show error message .please confirm
![image](https://user-images.githubusercontent.com/49143210/100705470-3e367280-33cd-11eb-9181-69d90f7cc70a.png)

[2020-12-01 08:35] yilmazbahadir commented on #714
@cryptoBeliever Can you please test this on http://desktop-build.symboldev.com ? I believe https://github.com/nemgrouplimited/symbol-desktop-wallet/pull/729 has already fixed this.

[2020-12-01 08:47] NikolaiB opened #754 "[UI issues] Select Contact window is not informative"
WTR:
1. Go to Home page -> Transfer
2. Click Select Contact button
Result: you can see empty window if there are no contacts.
As a solution description can be added: There are no contacts.

![image](https://user-images.githubusercontent.com/11311924/100717078-cb84c180-33e3-11eb-80cf-2c8884dd09e9.png)

Note: If there are contacts then the window should be trimmed to remove empty spaces

![image](ht

[2020-12-01 08:48] cryptoBeliever commented on #714
@yilmazbahadir yes it works now. I'm closing.

[2020-12-01 08:48] #714 closed

[2020-12-01 08:49] cryptoBeliever commented on #753
@surekabpm this is expected behaviour.
@yilmazbahadir maybe we can add a more descriptive message?

[2020-12-01 09:09] NikolaiB opened #755 "[Bug][Aggregate transaction] `Transaction details` are not fully visible on `Details about a transaction` window"
v0.13.5

WTR:
1. Go to Aggregate page
2. Create 4 Simple transactions
3. Send aggregate transaction
4. Go to Home page
5. Click Aggregate Complete transaction on the Dashboard

Result: You can see that not all transaction details are visible. Out of 4 transaction details you can see two and half.

![image](https://user-images.githubusercontent.com/11311924/100719618-0d633700-33e7-11eb-9d5f-8fecc4c

[2020-12-01 09:55] NikolaiB opened #756 "[Bug] Transaction link popup window is not fully visible"
v0.13.5

Two places where this bug can be found:

1) WTR:
1. Go to Home page -> Transfer
2. Put any account address into `To` field
3. Hover over the link sign at the bottom of the page
4. Hover over the copy sign
Result: you can see that popup windows are not fully visible

![image](https://user-images.githubusercontent.com/11311924/100723362-dfccbc80-33eb-11eb-810b-771b341ca04e.png)

![image](ht

[2020-12-01 10:37] cryptoBeliever commented on #671
Same issue on aggregate

![image](https://user-images.githubusercontent.com/17684281/100729819-8bb0e080-33c9-11eb-9f9d-65339303cdfd.png)

[2020-12-01 10:37] cryptoBeliever commented on #756
Duplicate of https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/671

[2020-12-01 10:37] #756 closed

[2020-12-01 10:37] cryptoBeliever commented on #755
Duplicate https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/691

[2020-12-01 10:37] #755 closed

[2020-12-01 10:56] NikolaiB commented on #755
@cryptoBeliever  I don't think it's a duplicate because the bug you are pointing to, is for confirmation page. The bug above is for already made transaction. + this case wasn't mentioned in this bug report #691

[2020-12-01 11:04] cryptoBeliever commented on #691
Same when doing transaction:

![image](https://user-images.githubusercontent.com/17684281/100732663-56a68d00-33cd-11eb-9903-5edd91f60d4b.png)

[2020-12-01 11:04] cryptoBeliever commented on #755
@NikolaiB IMO it is. I added you screenshot to #691 too

[2020-12-01 11:19] NikolaiB commented on #755
ok, thanks

[2020-12-01 11:46] cryptoBeliever commented on #689
Current presentation:

![image](https://user-images.githubusercontent.com/17684281/100736488-1c3fee80-33d3-11eb-9165-ee7a8cd058de.png)

I guess it should be more like this:

w4
      \
       w1
     /
w2

[2020-12-01 11:54] cryptoBeliever commented on #724
From issue https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/736

When you click the import address book , upload the address book (json file) on first go , it is working, but the scenario i tried is I uploaded a invalid address file , it gave invalid address, but when i uploaded the correct one, it is still showing invalid address,not moving further

![image](https://user-images.git

[2020-12-01 11:54] cryptoBeliever commented on #736
Duplicate of https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/724

[2020-12-01 11:54] #736 closed

[2020-12-01 18:24] cryptoBeliever opened #758 "When put max value transaction details are not presented"
Video: https://share.getcloudapp.com/Jruqw5v9

Steps:
1. Go send transaction view.
2. Put max allowed value into the amount. It's 9000000000000000.
3. Try to send a transaction.

Result: Only input to put password is presented. There is no transaction details on the pop-up.
Expected result: Transaction details should be visible on pop-up.

When I'm sending 9000000000 then all is OK.

[2020-12-01 19:02] OlegMakarenko opened #760 "Unable to convert account to multi-signature"
The wallet announce **HASH_LOCK** without **AGGREGATE_BONDED**
![image](https://user-images.githubusercontent.com/33131259/100784569-0c96c900-3418-11eb-8a58-06f113534a42.png)
![image](https://user-images.githubusercontent.com/33131259/100784598-17515e00-3418-11eb-9e0a-acaf9bdcdfba.png)
![image](https://user-images.githubusercontent.com/33131259/100784624-220bf300-3418-11eb-8c47-7f2e5c57f277.png)
!

[2020-12-01 19:09] OlegMakarenko opened #761 "The add button icon is not clickable"
![image](https://user-images.githubusercontent.com/33131259/100785594-8aa79f80-3419-11eb-9362-7ac85da7955b.png)

[2020-12-02 06:51] surekabpm opened #762 "Namespace creation is timed out"
I created a new namespace , it gives transaction signed successfully, the transaction is not shown in dashboard and after some time timed out error is shown. note: namespace was created  previously, i believe it is broken now
![image](https://user-images.githubusercontent.com/49143210/100838580-abfba080-3498-11eb-9fa1-9380ca2a69cf.png)

[2020-12-02 08:19] cryptoBeliever commented on #762
@surekabpm
Are you able to reproduce every time? Is this happen also on each node?

[2020-12-02 09:04] surekabpm commented on #762
Yes i'm able to reproduce every time  ... and looks like I'm not able to change the nodes
![image](https://user-images.githubusercontent.com/49143210/100851619-74e2ba80-34ab-11eb-921d-8c0889691150.png)

[2020-12-02 09:06] cryptoBeliever commented on #762
Node switch is in the bottom left corner.

[2020-12-02 09:08] surekabpm commented on #762
getting error while changing node
![image](https://user-images.githubusercontent.com/49143210/100852146-1407b200-34ac-11eb-8d04-e3319d4c4890.png)

[2020-12-02 09:27] cryptoBeliever commented on #762
Node http://api-01.eu-central-1.0.10.0.x.symboldev.network:3000/chain/info is behind with height and this is probably reason of your error.
You have old list of nodes because api-01.eu-west is no longer active.
You can try switch to `http://api-01.ap-southeast-1.0.10.0.x.symboldev.network:3000`

[2020-12-02 09:35] surekabpm commented on #762
yes it is working and the namespace is also created ,...old namespace also listed, so we can close this issue
![image](https://user-images.githubusercontent.com/49143210/100855046-c0976300-34af-11eb-9acf-ad58743fe8c6.png)

[2020-12-02 09:35] #762 closed

[2020-12-02 10:58] yilmazbahadir commented on #725
I believe this is fixed by https://github.com/nemgrouplimited/symbol-desktop-wallet/pull/729

[2020-12-02 11:01] NikolaiB commented on #657
@yilmazbahadir local node is also can not be added, confirm button is disabled. Could you please increase the priority of this issue to high?

[2020-12-02 11:03] bassemmagdy commented on #712
Thanks, @Eugenity for reporting that issue. It should be fixed now

[2020-12-02 11:19] NikolaiB opened #763 "[Bug][Import account with mnemonic] Balance is not visible"
WTR:
1. Try to import account with mnemonic.
2. Choose account with balance from Address to interact with column
Result: you don't see the balance amount from Select Accounts column **[Video](https://www.loom.com/share/eed309622f7c48e2a74d580356abd1f1)**

![image](https://user-images.githubusercontent.com/11311924/100866199-83889c00-34c2-11eb-8562-f87b1dee8fa0.png)

[2020-12-02 17:56] cryptoBeliever commented on #691
Fixed in live build :+1:
Thank you @NikolaiYurchenko

[2020-12-02 17:56] #691 closed

[2020-12-02 18:08] cryptoBeliever commented on #402
@garm01 it should be fixed. Please verify and let me know if the problem still exists.

[2020-12-02 18:08] #402 closed

[2020-12-02 18:22] #250 closed

[2020-12-02 18:27] cryptoBeliever commented on #712
@Eugenity please test and close if all is OK.

[2020-12-02 18:34] cryptoBeliever commented on #731
@NikolaiB should be fixed. Please verify.

[2020-12-02 18:50] cryptoBeliever commented on #725
Verified using new QR.

![image](https://user-images.githubusercontent.com/17684281/100917519-8c379d00-34d7-11eb-8e80-7cb924cc66a9.png)

[2020-12-02 18:50] #725 closed

[2020-12-02 18:52] #350 closed

[2020-12-02 18:53] cryptoBeliever commented on #357
Estimated rental fee is presented.

[2020-12-02 18:53] #357 closed

[2020-12-02 18:57] cryptoBeliever commented on #463
This is done :+1:

[2020-12-02 18:57] #463 closed

[2020-12-02 18:59] cryptoBeliever commented on #488
Estimated rental fee for mosaics and namespaces is presented :+1:

[2020-12-02 18:59] #488 closed

[2020-12-02 19:01] cryptoBeliever commented on #500
Still exists :)

[2020-12-02 19:06] cryptoBeliever commented on #500
Video: https://share.getcloudapp.com/rRu0LRkW

[2020-12-02 19:09] cryptoBeliever commented on #538
Same on Linux Electron app.

[2020-12-02 19:11] cryptoBeliever commented on #539
@OlegMakarenko maybe we can use address book here somehow?

[2020-12-02 19:14] cryptoBeliever commented on #555
@yilmazbahadir this is technical. Could you close if done?

[2020-12-02 19:17] cryptoBeliever commented on #560
Just a small clarification. I guess you mean "go to namespaces" instead "go to mosaics" :)

[2020-12-02 19:28] cryptoBeliever commented on #650
It's fixed now (http://desktop-build.symboldev.com/)
Password input is always on the bottom on view and always visible:

![image](https://user-images.githubusercontent.com/17684281/100921455-e4bd6900-34dc-11eb-9097-6be665f1d690.png)

https://share.getcloudapp.com/kpuNmGO1

[2020-12-02 19:28] #650 closed

[2020-12-02 19:31] cryptoBeliever commented on #692
@Eugenity could you please try reproduce and add more details if possible?

[2020-12-02 19:37] cryptoBeliever commented on #708
@meyns ping :) Could you also verify on live build (http://desktop-build.symboldev.com/)?

[2020-12-02 19:40] Eugenity commented on #692
Although being not so major it is still reproducible - [Video](https://www.loom.com/share/527deecaedd54d35bd1d2f8cf2280067)

[2020-12-02 19:41] cryptoBeliever commented on #723
@yilmazbahadir I have some doubts if we can classify this as enhancement only.
Of course, when we assign supply during creating mosaic via aggregate then mosaic will show on the list but without it will be not visible. So we stay with a bug that mosaic is not visible on mosaics list and we can't assign supply.

[2020-12-02 19:42] cryptoBeliever commented on #732
Also when we deleting account we got title "Unlock your account"

![image](https://user-images.githubusercontent.com/17684281/100923069-f30c8480-34de-11eb-9e55-c227549606cf.png)

[2020-12-02 19:45] cryptoBeliever commented on #751
@NikolaiB could you verify?

[2020-12-02 19:47] cryptoBeliever commented on #760
@OlegMakarenko what not did you used?

[2020-12-02 19:49] cryptoBeliever commented on #763
Hmmm... It worked for me:

![image](https://user-images.githubusercontent.com/17684281/100923719-e5a3ca00-34df-11eb-9cea-bd5fa425f75f.png)

Maybe it was node problem?

[2020-12-02 19:57] #555 closed

[2020-12-03 00:49] OlegMakarenko commented on #539
@cryptoBeliever yes since we have a address book dropdown here now, it would be good to add the wallet's account names to the list

[2020-12-03 00:53] OlegMakarenko commented on #760
@cryptoBeliever sorry, I don't understand your question

[2020-12-03 04:08] surekabpm commented on #725
Tested from my side as well and issue fixed

[2020-12-03 06:53] #731 closed

[2020-12-03 06:55] #751 closed

[2020-12-03 07:16] NikolaiB commented on #763
@cryptoBeliever  I am trying with different accounts but I have the same result.

[2020-12-03 07:30] cryptoBeliever commented on #760
@OlegMakarenko sorry. Autocorrect.
Which one node was selected when you tried convert to multisig? I'm asking becauase there was problems with couple of nodes.

[2020-12-03 09:44] NikolaiB opened #765 "[Bug] Getting N/A in Balance column while importing account with mnemonic"
v.0.13.5

WTR:
1. Try to import account with mnemonic.

Result: on Select Account Page you will see that child accounts in Balance column have N/A instead of actual amount that is 0.

![image](https://user-images.githubusercontent.com/11311924/100992349-48e43980-357e-11eb-8c8d-7d1c822b6ed5.png)

[2020-12-03 12:25] cryptoBeliever opened #766 "NEM Foundation still mentioned in wallet"
NEM Foundation is still mentioned in wallet:
- In privacy policy
- Greg contact is mentioned in the code of conduct

Please search for:
https://github.com/nemgrouplimited/symbol-desktop-wallet/search?q=foundation

Before change please consult with NGL how it should be changed. Maybe some of it will be changed with PrivacyPolicy update.

[2020-12-03 12:40] cryptoBeliever commented on #766
Before change please consult with NGL how it should be changed. Maybe some of it will be changed with PrivacyPolicy update.

[2020-12-03 12:48] Eugenity opened #767 ""Add a cosignatory" button missing on Multisig page after toggling from co-signer to not co-signer via upper menu"
**Steps to reproduce:**
1. Select a co-signer account using upper menu or accounts page
2. Go to Multisig page
3. Toggle to another account (not co-signer) via upper menu

**Expected result:** A user is able to click "Add a cosignatory" button to add a co-signer and convert an account to Multisig under not co-signer account
**Actual result:** There is no "Add a cosignatory" button on Multisig page

[2020-12-03 14:21] OlegMakarenko commented on #760
@cryptoBeliever I've just tried one more time and it works. I don't remeber I changed a node
![image](https://user-images.githubusercontent.com/33131259/101035456-6b2c8600-3583-11eb-8c81-80bd16eab0b5.png)

[2020-12-03 20:40] cryptoBeliever opened #769 "Harvesting confirmation view password input"
Harvesting confirmation view password input is not visible and we need to scroll.
For other transaction types input is always visible.

Please watch video: https://share.getcloudapp.com/JruqbPel

Same with harvesting activation.

[2020-12-03 20:40] cryptoBeliever commented on #769
@NikolaiYurchenko could you check?

[2020-12-03 21:00] cryptoBeliever commented on #523
@yilmazbahadir have we list of nodes that have rest with `/unlockedaccount` endpoint?

[2020-12-03 21:43] yilmazbahadir commented on #523
@cryptoBeliever I think, this is the only one we have at the moment => http://api-01.us-west-2.0.10.0.x.symboldev.network:3000/node/unlockedaccount

[2020-12-04 11:55] Eugenity opened #770 "Transaction filter is not closed after clicking outside the dropdown [Bug]"
**Steps to reproduce:**

1. Go to Home / Dashboard
2. Click on the transaction filter
3. Click outside the dropdown

**Expected result:** The filter dropdown gets closed
**Actual result:** The filter dropdown remains opened even after invoking other buttons/filters

[Video](https://share.getcloudapp.com/qGuldR8v)

[2020-12-04 13:24] Eugenity commented on #712
Verified, works as expected now.

[2020-12-04 13:24] #712 closed

[2020-12-06 02:31] trestoJP opened #773 "Single character namespace creation is disabled"
For example, the single character namespace "a" or "1" will be invailed.

In NIS1 it is available for rent.
If they are not allowed basicly, then there will be inconsistencies in the Symbol migration where those single character namespaces will not be migrated.

[2020-12-07 07:45] NikolaiB opened #775 "[Bug][Delegated Harvesting] Button Activate doesn't change to Swap"
WTR:
1. Create multisig account from 2 separate desktop wallets (not child account)
2. Go to Harvesting page
3. Choose multisig account from From dropdown list
4. Click Activate button

Result: button Activate doesn't change to Swap

![image](https://user-images.githubusercontent.com/11311924/101340761-5b29e480-38aa-11eb-975a-49f54f4a1aa4.png)

[2020-12-07 10:40] cryptoBeliever commented on #523
Thank you. Will verify today :+1:

[2020-12-08 07:27] NikolaiB opened #778 "[Bug] Delegated harvesting is not activating"
WTR:
1. Create multisig account from 2 separate desktop wallets (not child account)
2. Go to Harvesting page
3. Choose multisig account from From dropdown list
4. Choose http://api-01.us-west-2.0.10.0.x.symboldev.network:3000 node from node list
5. Click Activate button

Result: Harvesting is not active. Go to http://api-01.us-west-2.0.10.0.x.symboldev.network:3000/node/unlockedaccount and you can

[2020-12-08 08:02] cryptoBeliever commented on #778
@NikolaiB
This node (http://api-01.us-west-2.0.10.0.x.symboldev.network:3000/chain/info) is in fork and doesnt work correctly.
At this moment we don't have node with unlockedaccount endpoint to test if it change in activate. Please remember about this case and retest when we will have any node to test it correctly.

[2020-12-08 08:39] GodTanu commented on #667
I think it's good because I split the tx into two stages. Thank you very much. Sorry for the delay in reporting.

[2020-12-08 11:31] Eugenity opened #780 "No pop-up when the address of co-signatory is wrong on Multisig page [Bug]"
**Steps to reproduce:**

1. Go to Multisig page
2. Click "Add a cosignatory" button
3. Paste a wrong address
4. Click "+" button

**Expected result:** The pop-up informing that the address is wrong appears
**Actual result:** No pop-up informing that the address is wrong to a user

[Video](https://share.getcloudapp.com/OAuWJ9BK)

[2020-12-08 18:31] cryptoBeliever commented on #733
@Eugenity could you verify?

[2020-12-08 18:31] cryptoBeliever commented on #734
@Eugenity could you check?

[2020-12-08 18:32] cryptoBeliever commented on #761
We need a standalone build to verify this one.

[2020-12-08 18:33] cryptoBeliever commented on #761
It's fixed in latest version.

[2020-12-08 18:33] #761 closed

[2020-12-08 18:35] cryptoBeliever commented on #710
@surekabpm please verify

[2020-12-08 18:36] cryptoBeliever commented on #692
@Eugenity please verify

[2020-12-08 18:36] cryptoBeliever commented on #703
@bassemmagdy we need to have a standalone build to verify this. Would be possible to build it?

[2020-12-08 18:53] cryptoBeliever commented on #722
At this moment is not possible to set target account other than signer for mosaic/namespace metadata. Closing.

[2020-12-08 18:53] #722 closed

[2020-12-08 19:52] Eugenity commented on #733
Verified

[2020-12-08 19:52] #733 closed

[2020-12-08 19:53] cryptoBeliever commented on #523
I was able to start/stop/activate harvesting for a single and multi-sig account. New bugs will be reported as separated issues.

[2020-12-08 19:53] #523 closed

[2020-12-08 19:58] Eugenity commented on #692
Verified

[2020-12-08 19:58] #692 closed

[2020-12-08 20:00] Eugenity commented on #734
Verified

[2020-12-08 20:00] #734 closed

[2020-12-08 20:14] Eugenity opened #783 "Green pop-up about using Multisig acount stuck under Multisig account [Bug]"
**Steps to reproduce:**

1. Create a Multisig account using co-signer account within the same profile
2. Go to Transfer under a co-signer
3. Select a Multisig account in the From field
4. Toggle to the Multisig account via upper menu

**Expected result:** The green pop-up disappears once going to Multisig account
**Actual result:** The green pop-up stays stuck under Multisig account

[Video](https

[2020-12-08 20:39] cryptoBeliever opened #784 "Incoming transaction send to alias presented as outgoind on receiver side"
Steps:
1. Send the transaction from account A to namespace alias (from outside wallet because right now it's not possible) linked with account B.
2. Switch to account B and go to transactions.

Incoming transaction is presented as outgoing.

![image](https://user-images.githubusercontent.com/17684281/101538543-91945c00-399d-11eb-83fb-93fdb451c354.png)
![image](https://user-images.githubusercontent

[2020-12-08 20:47] cryptoBeliever opened #785 "Sending to linked alias not possible"
Steps:
1. Create alias linked with account. For example  walias
2. Try send to this alias

Result: "The recipient field is incorrect." message presented

![image](https://user-images.githubusercontent.com/17684281/101539369-b5a46d00-399e-11eb-99f1-ca3f0e9243d2.png)

We should either:
- Change mask text for  "To" input from "Enter address or alias (e.g., nem.foundation)" to "Enter address"
- Allow

[2020-12-09 06:12] surekabpm opened #786 "Account restriction - outgoing operation restriction"
I had initiated the operation restriction (outgoing) under address restriction , transaction is confirmed , then i tried to transfer aount XEM to another account, my understanding is that account restriction for outgoing for this address need to be restricted..in that case here the transfer transaction is working . is my understanding correct ? kindly review
![image](https://user-images.githubuser

[2020-12-09 06:26] surekabpm commented on #710
![image](https://user-images.githubusercontent.com/49143210/101593062-59306480-3a15-11eb-931f-9fdccc980ed8.png)
 Mnuemonic is not correct  - is that the message need to be displayed ? is that the expectation? Also this message is displayed at the last , can this message be displayed when the wrong words are typed.please clarify @cryptoBeliever

[2020-12-09 06:54] cryptoBeliever commented on #710
@surekabpm those are questions to @bassemmagdy

[2020-12-09 06:58] cryptoBeliever commented on #778
Reopened because @NikolaiB is still able to reproduce

[2020-12-09 07:05] surekabpm opened #787 "Tips - Mneumonics for password backup is always displayed as invalid"
While generating the account , at the verification stage for the back up mneumonics Tips is displayed as "Your mnemonic words backup is invalid. Please, carefully select the words in the correct order.".
I have not yet entered any words, but is this display right? kindly review
![image](https://user-images.githubusercontent.com/49143210/101596361-ecb86400-3a1a-11eb-8f7c-3204ace223d6.png)
@bassemma

[2020-12-09 08:27] cryptoBeliever opened #788 "Harvesting - fees taken from cosigner instead multisig?"
Steps:
1. Go to cosigner account.
2. Start harvesting for multisig

Result: Fees are taken from cosigner.

Video: https://share.getcloudapp.com/YEuQQq8y?utm_source=show

[2020-12-09 08:32] NikolaiB opened #789 "[Bug][Multisig] Can not properly revert multisig account into simple account"
WTR:
1. Create multisig account from 2 separate desktop wallets or it can be child account.
2. Go to Multisig page and remove multisig account from co-signories
3. Go to multisig account

Result: the web was not updated despite that accounts were untight

![image](https://user-images.githubusercontent.com/11311924/101604534-41fc7180-3a2b-11eb-81a4-8969ba00e336.png)

![image](https://user-images.gi

[2020-12-09 08:42] cryptoBeliever commented on #788
Closing for now because it looks like transactions fees are taken from cosigner.

[2020-12-09 08:42] #788 closed

[2020-12-09 11:17] #778 closed

[2020-12-09 11:18] #775 closed

[2020-12-09 11:40] Eugenity opened #791 "A user is able to create an empty contact [Bug]"
**Steps to reproduce:**

1. Go to Accounts / My contacts
2. Click on "Add contact" button
3. Click "Confirm" button w/o providing any information in the fields

**Expected result:** Pop-ups informing a user that the fields are required are displayed
**Actual result:** An empty contact is saved to the contacts list

[Video](https://share.getcloudapp.com/6quxxRPO)

Those empty entries are reflected

[2020-12-09 13:05] cryptoBeliever commented on #694
Now aliases are presented in multilines :+1:

![image](https://user-images.githubusercontent.com/17684281/101633496-a1f11900-3a27-11eb-84da-0a915466a531.png)

[2020-12-09 13:05] #694 closed

[2020-12-09 13:11] cryptoBeliever commented on #791
Duplicate of https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/737

[2020-12-09 13:11] #791 closed

[2020-12-09 16:29] NikolaiB opened #793 "[Account Restrictions] UI bugs"
1. Button New Address Restriction is out of window http://joxi.ru/Drlz990Hy8nEJ2
2. Button Cancel is out of the window http://joxi.ru/YmEy00MSMo9W4m
3. Address/ Mosaic deletion window doesn't disappear when restriction was removed http://joxi.ru/YmEy00MSMowZ8m
4. Multisig account is not fully visible on address restriction page http://joxi.ru/zANejjWUjo0ke2

[2020-12-09 16:45] bassemmagdy opened #794 "Problem with reading Invoice with encrypted message"
- There is a problem with reading Invoice with encrypted message.
A) Go to Invoice view (address is filled by default).
B) Put random message
C) Check encrypted message
D) Get generated QR and try import it using Import QR Code (in top menu)

Result: Message is imported as unencrypted. Also "Encrypt" button is not checked. Same problem when we using "Importing transaction URI" from Invoice view on

[2020-12-09 17:31] bassemmagdy commented on #710
@surekabpm @cryptoBeliever  issue is now addressed on word entry not only when mnemonic is full. Please re-check when this [PR](https://github.com/nemgrouplimited/symbol-desktop-wallet/pull/795) is merged.

[2020-12-09 18:08] cryptoBeliever commented on #724
Solved.

[2020-12-09 18:08] #724 closed

[2020-12-09 18:11] cryptoBeliever commented on #526
Fixed:

![image](https://user-images.githubusercontent.com/17684281/101669519-5011b880-3a52-11eb-95b9-14832326896b.png)

[2020-12-09 18:11] #526 closed

[2020-12-09 18:12] cryptoBeliever commented on #735
Will be checked after the standalone version release.

[2020-12-09 18:16] cryptoBeliever commented on #738
@surekabpm looks ok now. Icons now work and are accurate.

![image](https://user-images.githubusercontent.com/17684281/101670118-142b2300-3a53-11eb-98ee-eaf213de8ec7.png)

[2020-12-09 18:16] #738 closed

[2020-12-09 18:20] cryptoBeliever commented on #754
@NikolaiB please check. First part is fixed.

[2020-12-09 18:38] cryptoBeliever commented on #689
Looks correct now :+1:

[2020-12-09 18:38] #689 closed

[2020-12-09 18:55] bassemmagdy commented on #789
@NikolaiB  should be fixed after this [PR](https://github.com/nemgrouplimited/symbol-desktop-wallet/pull/796) gets merged.

[2020-12-09 20:20] garm01 opened #797 "Amount is not updated"
The display of the amount of a transaction that takes place shortly after opening the wallet is not updated. The correct display only takes place after the account has been changed.
My steps:

1)Open the wallet
2)Change from account-one to account-four
3)Transaction requested by faucet
4)Transaction from faucet confirmed
5)The display of the amount does not change

![transaction8](https://user-ima

[2020-12-10 06:34] #754 closed

[2020-12-10 06:56] NikolaiB opened #798 "Can add contact with the same name and the same address"
WTR:
1. Go to Accounts page
2. Click Add Contact
3. Add two contacts with the same name and the same id

Result: duplicate contacts can be added

![image](https://user-images.githubusercontent.com/11311924/101732226-1048e080-3ae7-11eb-89f4-c0a261a9317b.png)

[2020-12-10 07:52] NikolaiB opened #799 "[UI bug] Remove additional space in Select Contact window"
WTR:
1. Add a few contacts in contact list
2. Go to Home -> Transfer
3. Click button Select Contact

Result: observe additional space above the contact list

![image](https://user-images.githubusercontent.com/11311924/101737321-e693b780-3aee-11eb-98a6-1526016d618a.png)

[2020-12-10 08:19] NikolaiB opened #800 "[Account restrictions] Mosaic restriction for one mosaic blocks all other mosaics sent together"
WTR:
Given two accounts A and B
1. In account A add Mosaic restriction for one mosaic
2. Go to Account B, add additional mosaic
3. Initiate transaction with two different mosaics
![image](https://user-images.githubusercontent.com/11311924/101739853-53f51780-3af2-11eb-8b31-7c6a669de8a8.png)

Result: Getting Failure restriction error
![image](https://user-images.githubusercontent.com/11311924/101739

[2020-12-10 11:50] surekabpm opened #803 "Namespace - why is the amount not displayed in dashoard"
After creating the namespace, why is the amount not displayed in the dashboard instead showing N/A
![image](https://user-images.githubusercontent.com/49143210/101768662-df2ed700-3b0b-11eb-89e0-c4abe4ee9f63.png)
![image](https://user-images.githubusercontent.com/49143210/101768721-f2da3d80-3b0b-11eb-8d7f-bdfecad80a34.png)

[2020-12-10 13:03] #800 closed

[2020-12-10 20:01] #703 closed

[2020-12-10 20:01] #710 closed

[2020-12-10 20:01] #783 closed

[2020-12-10 20:01] #789 closed

[2020-12-10 21:29] cryptoBeliever commented on #732
Works correctly :+1:

[2020-12-10 21:29] #732 closed

[2020-12-10 21:34] cryptoBeliever commented on #698
It's fixed :+1:

[2020-12-10 21:34] #698 closed

[2020-12-10 21:37] cryptoBeliever commented on #702
It's fixed :+1:

[2020-12-10 21:37] #702 closed

[2020-12-10 21:42] cryptoBeliever commented on #803
@surekabpm in amount column is presented amount transferred for Transfer Transaction. Namespace creation is not Transfer Transaction.
I'm closing as not a bug

[2020-12-10 21:42] #803 closed

[2020-12-10 21:43] cryptoBeliever commented on #799
@NikolaiB missing screenshot.

[2020-12-10 21:48] cryptoBeliever commented on #797
@garm01 would be possible to create video for example using https://share.getcloudapp.com/?
I used exactly your steps and it worked. May be related with node (please provide node you using) and websockets.

[2020-12-10 22:37] cryptoBeliever commented on #786
@surekabpm you blocked here Outgoing transactions with type **Account address restrictions**.
It's not about all outgoing transactions but transaction with restrictions for **Account address**

Because of the above, I'm closing as not a bug.

[2020-12-10 22:37] #786 closed

[2020-12-10 22:50] cryptoBeliever opened #807 "Restrictions - not possible to to restrict operation type "Account operation restriction" :)"
Steps:
1. Go to the account
2. Go to restrictions
3. Choose "Operation restrictions"
4. Choose Type "Block"
5. Choose Operation Type "Account operation restriction"

Result: I got **Failure_RestrictionAccount_Invalid_Modification** error

Is this by design in Symbol blockchain (transaction is blocked because not announced yet restriction)?

[2020-12-10 22:54] cryptoBeliever opened #808 "Restrictions - Not possible to lift "account operation restriction" restriction"
Steps:

1. Add restriction:
Type: Account operation restriction
Restriction Additions: Account operation restriction
Restriction Flag: AllowOutgoingTransactionType

**Now all should be blocked except lifting restriction. And indeed I got Failure_RestrictionAccount_Operation_Type_Prohibited when trying send Transfer Transaction**

2. Try remove restriction. Not possible with error **Failure_Restric

[2020-12-10 23:12] cryptoBeliever opened #809 "Resrictions - missing messages"
There are missing messages. For user is presented directly error code for example:

Failure_RestrictionAccount_Invalid_Modification
Failure_RestrictionAccount_Operation_Type_Prohibited
more ...

Is planned to add messages for those codes (or message + code)?

[2020-12-11 06:47] surekabpm commented on #710
Tested and it is working now

[2020-12-11 08:45] yilmazbahadir commented on #808
Then we should put a restriction to "account operation restriction" :)

[2020-12-11 08:55] userNikolai commented on #789
fixed.

[2020-12-11 09:21] #797 closed

[2020-12-11 13:10] bassemmagdy commented on #765
related to #763

[2020-12-11 13:23] bassemmagdy commented on #737
related to #727

[2020-12-11 13:36] bassemmagdy commented on #749
related to #750

[2020-12-11 13:54] bassemmagdy commented on #760
@OlegMakarenko please confirm and provide reproduction steps if this's still happening. I couldn't reproduce it.

[2020-12-11 14:35] cryptoBeliever opened #811 "Restrictions - Operaton restrictions allowing not possible"
Steps:
1. Go to operation restrictions
2. Create new operation restriction
Direction: Outgoing
Type: Allow
Operation type: **Any except Account operation restriction**
3. Submit

Result: Failure_RestrictionAccount_Invalid_Modification

This is because allowing any would cause blocking others and this implies not possible to lift such restriction.
Imo Allow type should be blocked here. It works onl

[2020-12-11 15:04] OlegMakarenko commented on #760
@bassemmagdy
1. Generate 3 seed accounts (let's call them **s1**, **s2**, **ms**)
2. Send 500 XYM to each of them
3. Select **ms** account and go to the Multisig page
4. Add **s1** and **s2** as cosignatories
5. Set minApproval = 2. Set minRemoval = 1
6. Confirm
7. Send

[2020-12-12 12:22] cryptoBeliever commented on #735
Fixed in 0.13.6

[2020-12-12 12:22] #735 closed

[2020-12-12 12:23] cryptoBeliever commented on #703
Fixed in 0.13.6

[2020-12-12 12:23] cryptoBeliever commented on #721
Done in 0.13.6

[2020-12-12 12:23] #721 closed

[2020-12-12 12:29] cryptoBeliever opened #813 "Login button vertical allignment"
Version: 0.13.6
Standalone Linux

Login button is not vertically alligned:

![image](https://user-images.githubusercontent.com/17684281/101983882-f1308700-3c7d-11eb-89db-b1be8d103639.png)

[2020-12-12 14:21] cryptoBeliever opened #814 "Add "ToS" and "Privacy Policy" links to Settings Screen."
When creating a wallet user can read terms and privacy policy.
After wallet is created there is no way to open it again. I think there should be links somewhere in wallet allowing opening it.

[2020-12-14 07:32] NikolaiB opened #816 "Dashboard and Harvesting pages were not updated"
v0.13.6

WTR:
1. Go to Desktop Symbol wallet
2. Initiate transaction

Result: transaction was initiated but it is not reflected on the dashboard [Video](https://www.loom.com/share/d7f0e7357a914b429fcef81108f11ffa)
Note: I can observe this issue while load testing is performed

![image](https://user-images.githubusercontent.com/11311924/102052328-2a006580-3e10-11eb-9e6a-e0fa9fb0bc76.png)

2. Go to

[2020-12-14 10:54] bassemmagdy commented on #753
@surekabpm is this still reproducible? could you please verify and make a video if possible?

[2020-12-14 11:46] surekabpm commented on #753
this issue is resolved now , i was able to transfer XEM amount , included encrypt message and it worked and that was the first transaction
![image](https://user-images.githubusercontent.com/49143210/102077787-da319680-3e2f-11eb-8a15-b961a9ee7288.png)
![image](https://user-images.githubusercontent.com/49143210/102077907-08af7180-3e30-11eb-8a73-07e78ec1e02a.png)

[2020-12-14 11:46] surekabpm commented on #753
i believe we can close this issue , hence closing

[2020-12-14 15:49] bassemmagdy commented on #742
@segfaultxavi thanks for reporting. Since we decided to restrict the target account to the selected signer on the wallet for mosaic and namespace metadata transactions, this issue is not valid anymore.

[2020-12-14 15:49] #742 closed

[2020-12-14 18:07] cryptoBeliever commented on #753
@bassemmagdy
Well I commented here https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/753#issuecomment-736319371
Still message could be more descriptive ...

[2020-12-14 19:06] bassemmagdy commented on #741
related to #760

[2020-12-16 03:32] bassemmagdy commented on #765
Hi @NikolaiB, thanks for reporting, can you spot that on latest [build](http://desktop-build.symboldev.com )?

[2020-12-16 05:25] NikolaiB commented on #813
Can reproduce this bug in macOS v0.13.6

[2020-12-16 06:53] NikolaiB opened #825 "[Desktop] Import account stucks at Mnemonic Passphrase stage"
v0.13.6

WTR:

1. Open Desktop app
2. Import any account with mnemonic
3. Logout
4. Import another account with mnemonic: movie lizard elbow young print subject model tower security crisp monkey damp elite must option drastic liberty april position vanish bunker glory gospel solution

Result: you get stuck at the Mnemonic Passphrase stage despite that you are getting successful toast messages  [Vi

[2020-12-16 11:32] NikolaiB commented on #765
fixed

[2020-12-16 11:32] #765 closed

[2020-12-16 14:13] Eugenity opened #828 "Unable to create mosaics when it is the first operation initiated in account"
**Steps to reproduce:**

1. Create a new account, make sure you did no operations
2. Go to Mosaics page
3. Send an operation for creating new mosaics (no matter how you configured it)
4. Confirm it

**Expected result:** New mosaics are created
**Actual result:** An error "Failure_Core_Zero_Public_Key" occurs, mosaics are not created

[Video](https://share.getcloudapp.com/llunk0GL)

[2020-12-16 14:25] bassemmagdy commented on #828
Hi @Eugenity, This is not a valid scenario anyways as you will have to pay fees to be able to create your mosaic. So at the end of the day creating a mosaic with a virgin account(account with no transactions/funds) will not be possible. And for the failure/notification **Failure_Core_Zero_Public_Key** it will be updated after this [pr](https://github.com/nemgrouplimited/symbol-desktop-wallet/pull/

[2020-12-16 14:45] Eugenity commented on #828
Hi @bassemmagdy I had a balance there, in that account (taken from faucet link), so this scenario is possible to reproduce only while testing, right?

[2020-12-16 15:47] bassemmagdy commented on #828
@Eugenity I thought you had no funds because you mentioned that the account should have no operations meaning it's a fresh one.
If the account already got funds you shouldn't observe that behavior at all. Please, re-verify that after merging #826

[2020-12-16 16:52] NikolaiB opened #830 "[Desktop] networkCache was not updated"
v0.13.6

WTR:
1. Install desktop version v0.13.5 and run it
3. Go to networkCache
Result: you can see that the default node address is http://api-01.us-east-1.0.10.0.x.symboldev.network:3000
4. Remove the app
5. Install desktop version v0.13.6 and run it
6. Go to networkCache
Result: despite that the default node address was changed to http://api-01.us-west-1.0.10.0.x.symboldev.network:3000, you s

[2020-12-17 07:06] surekabpm opened #832 "The Mnuemonics download method is little different in desktop and web version"
When you create account in the desktop wallet and you click the download button, it is saving to the local, but when you do the same steps in the web wallet , and click the download button an pdf file is downloaded. in both the version the downloading method should be the same

![image](https://user-images.githubusercontent.com/49143210/102454378-ed2cac80-4063-11eb-88c8-48dc700d3f9f.png)
![image](

[2020-12-17 07:30] surekabpm commented on #832
Based on conversation with Paul, understand that saving the file in browser can be changed by using settings , hence closing this issue

[2020-12-17 07:30] #832 closed

[2020-12-17 10:27] surekabpm opened #833 "Pdf file is not created after clicking download in desktop version"
This is issue is in desktop version, in windows
While creating an account, when you click the download button, a default pdf file need to be saved, but here the windows open and gives only option as" all files", if I select it it is not saved as pdf form.
![image](https://user-images.githubusercontent.com/49143210/102475835-63d7a300-4080-11eb-8d3d-0f1fcfc44665.png)
![image](https://user-images.git

[2020-12-18 12:16] mikunNEM opened #837 "The Reset and Confirm buttons in the settings /Japanese characters are out of frame."
<img width="1170" alt="スクリーンショット 2020-12-18 21 05 07" src="https://user-images.githubusercontent.com/45915246/102613209-71bb2000-4175-11eb-94e3-2bd23939a133.png">

[2020-12-18 13:00] Eugenity opened #838 "Under Multisig account co-signers are displayed as "(Multisig)" in "Multisig accounts" filter"
**Steps to reproduce:**

1. Create a Multisig account
2. Go to Dashboard or Accounts/restrictions page, Mosaics, Namespaces
3. Click on the "Multisig accounts" filter

**Expected result:** Co-signers are indicated as "(Co-signer)" or similar
**Actual result:** Co-signers are displayed as "(Multisig)" in the filter

[Screenshot](https://share.getcloudapp.com/4guOZ4Nm)

[2020-12-21 11:33] Eugenity opened #842 ""Import Transaction URI" dialog window has wrong size"
**Steps to reproduce:**

1. Go to Transfer
2. Click "Import Transaction URI" higlighted text

**Actual result:** The dialog window modal element has wrong size, some elements are outside its background
**Expected result:** The dialog window modal element encapsulates all the elements

[Screenshot](https://share.getcloudapp.com/p9urOoep)

[2020-12-21 17:59] Drunkar opened #844 "ctrl+r captured whenever windows app running"
When desktop app is running, short cut ctrl+r is captured by the desktop-wallet even if it's not focused.
This is why we use `globalShortcut` in `public/build.js` . `globalShortcut` in electron will capture all key input even if it's background.

https://github.com/electron/electron/issues/8491

In `public/build.js`, the comment says "do nothing to forbidden default refresh", but is there any reas

[2020-12-22 10:50] NikolaiB opened #845 "Getting Falure_Core_Past_Deadline and Failure_LockHash_Unknown_Hash just right after login"
WTR:
1. Login into web or desktop app

Result: I am getting a set of repeated errors [Video](https://www.loom.com/share/fd47ffd68578436ea5cac308289a6f1a)
Note: I am getting this errors while load testing is performed.

![image](https://user-images.githubusercontent.com/11311924/102880528-abda3980-4475-11eb-927f-5962407ca8f1.png)
![image](https://user-images.githubusercontent.com/11311924/102880545

[2020-12-23 10:29] segfaultxavi opened #847 "URI link in Transfer page only appears if address is in plain format, not pretty"
Go to Transfer page and enter an address in the `To:` field in pretty format (with dashes): ` TDC3T5-KZOQC4-L6OAQB-B4FNBQ-5627BU-LJC6KK-DNI`
There will be no URI link (`web+symbol://...`) at the bottom of the form.
Now remove the dashes and the URI link will appear.

The form accepts both address formats (plain and pretty) so I think the URI link should appear when either one is used.

[2020-12-23 10:34] segfaultxavi opened #848 "URI link "Copy" button is mocking me!"
This is a funny one! Go to the Invoice page, there should be an URI link at the bottom:
![image](https://user-images.githubusercontent.com/10949043/102987232-543ddb80-4512-11eb-989a-27dd5d8c933a.png)
If you hover your mouse over the "copy" button, a popup appears, but it is partially hidden:
![image](https://user-images.githubusercontent.com/10949043/102987304-69b30580-4512-11eb-8cd5-afceffef1eff.

[2020-12-24 11:24] Eugenity opened #851 ""Send aggregate" and "bin" buttons on Aggregate page are inactive after toggling to Multisig account and back"
**Steps to reproduce:**

1. Go to Aggregate page under non-Multisig account
2. Save any transaction to My transactions block
3. Toggle to Multisig account within the same profile
4. Toggle back to non-Multisig account
5. Click on "Send aggregate" or "bin" button within the saved transaction

**Actual result:** The buttons are inactive blocking a user from sending transaction(s) or deleting them
**

[2020-12-24 14:16] cryptoBeliever commented on #500
It still doesn't work. Bug as in the video: https://share.getcloudapp.com/rRu0LRkW

[2020-12-24 14:19] cryptoBeliever commented on #773
Fixed in live build http://desktop-build.symboldev.com/

[2020-12-24 14:19] #773 closed

[2020-12-24 19:13] cryptoBeliever commented on #828
It's not fixed. Same error as in OP

[2020-12-24 19:18] cryptoBeliever commented on #794
Now after importing QR with encrypted message I'm ending with:

![image](https://user-images.githubusercontent.com/17684281/103103979-fbab3300-4624-11eb-8f22-f0e73f86f6d0.png)

QR I importing:
![image](https://user-images.githubusercontent.com/17684281/103104019-28f7e100-4625-11eb-8b28-0c21d70187e4.png)

[2020-12-24 19:23] cryptoBeliever commented on #671
Fixed in latest live build: http://desktop-build.symboldev.com/

[2020-12-24 19:23] #671 closed

[2020-12-24 19:24] cryptoBeliever commented on #848
Looks like duplicate of https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/671
Should be fixed in http://desktop-build.symboldev.com/

[2020-12-24 19:24] #848 closed

[2020-12-24 19:29] cryptoBeliever commented on #763
@NikolaiB looks like fixed in the latest version (http://desktop-build.symboldev.com/). So I'm closing.

[2020-12-24 19:29] #763 closed

[2020-12-24 19:31] cryptoBeliever commented on #727
The email field is now validated. Closing.

[2020-12-24 19:31] #727 closed

[2020-12-24 19:32] cryptoBeliever commented on #737
It's fixed now. Not possible to add contact without address or name.

[2020-12-24 19:32] #737 closed

[2020-12-24 19:38] cryptoBeliever commented on #798
There is no way to add same address twice. But you can add two difference with the same name.
@NikolaiB please verify if this is OK for you.

[2020-12-24 19:53] cryptoBeliever commented on #766
@bassemmagdy

Terms and Privacy Policy is the final version?

If yes:
1. There is a typo contact@nemn.io but should be contact@nem.io
2. Should we use contact@nem.io or different address? Where this address directs, how receiving this email?
3. NEM Group has the invalid address "NEM Group Limited. 57 Mohamed Sultan Rd., #01-05, Sultan-Link, Singapore 238997"

If no:
We should ask for the final ver

[2020-12-24 19:55] cryptoBeliever commented on #740
@segfaultxavi address QR has now bigger size. Please check when you will have a time.
For me it works fine.

[2020-12-24 19:55] #740 closed

[2020-12-24 19:56] bassemmagdy commented on #766
@cryptoBeliever I think @Pow1404 should give us input on that.

[2020-12-24 19:57] cryptoBeliever commented on #719
Fixed in latest live build.

[2020-12-24 19:57] #719 closed

[2020-12-24 19:59] cryptoBeliever commented on #750
All is blocked now.

[2020-12-24 19:59] #750 closed

[2020-12-24 20:05] cryptoBeliever commented on #770
It's fixed.

[2020-12-24 20:05] #770 closed

[2020-12-24 20:09] cryptoBeliever commented on #842
It's fixed (check on live-build).

[2020-12-24 20:09] #842 closed

[2020-12-24 20:17] cryptoBeliever commented on #799
It's fixed now.

[2020-12-24 20:17] #799 closed

[2020-12-24 20:29] cryptoBeliever opened #854 "Profile creation - skiping mnemonic confirmation by clicking "Next""
Steps:
1. Go to create profile.
2. Move mouse to generate mnemonic.
3. Copy mnemonic somewhere and click next
4. On mnemonic confirmation choose Next.

Result: Wallet allow create profile without mnemonic confirmation just by clicking Next. Doesn't matter if we put mnemonic or not.

Video: https://share.getcloudapp.com/z8u4Gvb2

[2020-12-24 20:38] cryptoBeliever opened #855 "Namespaces - not all namespaces presented"
1. Create over 20 namespaces for one account.
2. Go go to namespaces view.

Result: Only 20 namespaces is presented.
Expected result: All namespaces should be presented.

It's because wallet is using request without pagination:
/namespaces?ownerAddress=<address>

[2020-12-25 05:45] NikolaiB opened #856 "[Dashboard] No amount shown for multisig transaction"
v0.13.6

WTR:
1. Initiate transaction from multisig account (10 XEM)

Result: you can see N/A on Dashboard instead of 10 XEM

![image](https://user-images.githubusercontent.com/11311924/103121492-9730b800-46a6-11eb-81f4-4dcdfbaf73b8.png)

[2020-12-25 05:53] NikolaiB commented on #741
Fixed

[2020-12-25 05:53] #741 closed

[2020-12-25 06:14] NikolaiB commented on #798
Fixed

[2020-12-25 06:14] #798 closed

[2020-12-25 06:22] NikolaiB commented on #825
Fixed

[2020-12-25 06:22] #825 closed

[2020-12-25 06:25] NikolaiB commented on #793
Fixed

[2020-12-25 06:25] #793 closed

[2020-12-26 10:39] joarrries opened #859 "harvest node url => invalid node"
when I enter the node url, it keeps prompting invalid node.
![image](https://user-images.githubusercontent.com/54062081/103149946-a3516e00-47a9-11eb-891f-024b49cb075a.png)

[2020-12-26 10:40] joarrries opened #860 "can't select a node in Network settings"
![image](https://user-images.githubusercontent.com/54062081/103149961-bd8b4c00-47a9-11eb-829c-5ddab10c3e75.png)
I tried to select a node, but it's not work.
![image](https://user-images.githubusercontent.com/54062081/103149964-c7ad4a80-47a9-11eb-99d0-5a79a69d62cd.png)

[2020-12-26 10:46] bassemmagdy commented on #860
Hi @joarrries, thanks for reporting. Please note that you should be switching nodes using the left-bottom corner menu, not network sertings.

[2020-12-26 11:35] cryptoBeliever commented on #860
@joarrries this view is only for adding new nodes. For switching please use "Node" in bottom left corner.

![image](https://user-images.githubusercontent.com/17684281/103150698-bc8cf700-4776-11eb-952f-3a43f37ffa92.png)

We have other issue reported to make it more user friendly here: https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/657
So I'm closing this one.

[2020-12-26 11:35] #860 closed

[2020-12-26 11:39] cryptoBeliever commented on #859
@joarrries you should put just 176.223.141.198 and it should work.

@yilmazbahadir iti should be more user friendly to put node IP, IP wit port, IP with port and protocol. Same applies to adding new node in Settings.

[2020-12-26 11:44] cryptoBeliever commented on #854
Fixed now :+1:

[2020-12-26 11:44] #854 closed

[2020-12-26 11:46] cryptoBeliever commented on #807
Fixed by removing "Account operation restriction" from "Operation Type" selectbox.
Thanks @bassemmagdy :+1:

[2020-12-26 11:46] #807 closed

[2020-12-26 11:47] cryptoBeliever commented on #811
Fixed by removing "Allow" from "Type" selectbox. Network behaviour stays unchanged.
Thanks @bassemmagdy :+1:

[2020-12-26 11:47] #811 closed

[2020-12-26 11:48] cryptoBeliever commented on #808
Fixed by removing "Allow" from "Type" and "Account operation restrictioin" from "Operation type" selectboxes. Network behaviour stays unchanged.
Thanks @bassemmagdy :+1:

[2020-12-26 11:48] #808 closed

[2020-12-26 11:59] cryptoBeliever commented on #787
Fixed by changeing tooltip.

[2020-12-26 11:59] #787 closed

[2020-12-26 12:02] cryptoBeliever commented on #749
@Eugenity please verify.

[2020-12-26 12:05] cryptoBeliever commented on #780
@Eugenity please verify.

[2020-12-26 12:05] cryptoBeliever commented on #838
@Eugenity please verify.

[2020-12-26 18:48] cryptoBeliever commented on #769
@NikolaiYurchenko I think we have still inconsistent/bad looking transaction confirmation pop-ups.

- create aggregate pop-up -> https://share.getcloudapp.com/yAuZJbYn?utm_source=show
- create aggregate (with multisig) -> https://share.getcloudapp.com/d5uPgp2L (three scrools)
- how it looks on cosigner side (to sign) -> https://share.getcloudapp.com/p9urewoE (details cutted on top)
- how it looks

[2020-12-28 11:33] Eugenity commented on #780
Verified

[2020-12-28 11:33] #780 closed

[2020-12-28 11:38] Eugenity commented on #749
Verified

[2020-12-28 11:38] #749 closed

[2020-12-28 11:54] Eugenity opened #861 "Redundant carriage on the text elements"
**Steps:**

1. Click on the text elements e.g. menu items on the left

**Expected result:** There is no carriage on the text elements clicked
**Actual result:** There is redundant carriage on some text elements clicked, look at the video for more details

[Video](https://share.getcloudapp.com/wbuKDLDb)

Probably this defect was introduced with fixing #749

[2020-12-28 11:56] Eugenity commented on #838
Verified

[2020-12-28 11:56] #838 closed

[2020-12-28 12:00] Eugenity commented on #767
Verified

[2020-12-28 12:00] #767 closed

[2020-12-28 12:37] #861 closed

[2020-12-28 22:37] cryptoBeliever commented on #760
@Eugenity @NikolaiB please check it too if possible.

[2020-12-28 22:39] cryptoBeliever commented on #833
If this is how it works on all Windows then I'm increasing priority.

[2020-12-29 09:46] NikolaiB commented on #760
@cryptoBeliever I couldn't test it yesterday due to node issue. When the node issue is fixed I will test it.

[2020-12-29 10:03] #760 closed

[2020-12-29 10:03] NikolaiB commented on #760
Fixed

[2020-12-29 10:52] Eugenity opened #862 "Part of the Multisig page is not blocked under Multisig account"
**Steps to reproduce:**

1. Go to the Multisig page under the Multisig account
2. Click on the bin buttons for a co-signer added or on the right side of the Send button

**Actual result:** Part of the Multisig page for a Multisig account is not blocked for interaction
**Expected result:** All the Multisig page is blocked for interaction under Multisig account

[Video](https://share.getcloudapp.com

[2020-12-30 12:27] cryptoBeliever opened #864 "Voting module"
Would be great to implement the voting module as-is for NIS1.

[2020-12-31 13:39] NikolaiB opened #866 "Able to see aggregate transaction from another account"
WTR:
1. Go to account A
2. Add account B
3. You are in account A -> Go to Aggregate page
4. Add Simple Transaction, Mosaic Transaction, Namespace Transaction
5. Switch to account B -> Go to Aggregate page

Result: you will see aggregate transactions made by account A. [Video](https://www.loom.com/share/f7944e6325724b95bf9ae4b58fc15520)

[2021-01-03 12:24] imTheGlitch opened #867 "Fonts are too small"
Font size in wallet is far too small for all eyes to easily read so things will be missed and mistakes will be made by users.

[2021-01-03 12:32] imTheGlitch commented on #867
Also the tab label text for the inactive tabs is too light. No contrast with background so the tabs are barely visible
[Image here](https://ibb.co/SNK5grL)

[2021-01-03 13:47] imTheGlitch commented on #678
+1

[2021-01-03 15:58] #867 closed

[2021-01-05 11:49] bassemmagdy commented on #833
@cryptoBeliever @surekabpm I cannot re-produce it on mac and windows, can you verify that this is still happening?

[2021-01-05 11:54] cryptoBeliever commented on #833
@bassemmagdy on my Linux is ok. @surekabpm please check.

[2021-01-05 13:29] Eugenity opened #871 "Transfer tab is inactive after toggling to Multisig account and back to non-Multisig"
**Steps to reproduce:**

1. Go to the Transfer tab under non-Multisig account
2. Switch to the Multisig account via upper menu
3. Switch back to any non-Multisig account within the profile
4. Try to paste any data into fields or use the Send button

**Actual result:** The fields on the Transfer tab do not accept data
**Expected result:** The fields and the Send button are responsive after toggling

[2021-01-05 22:43] cryptoBeliever opened #873 "Namespaces - expired namespaces visible without "Show expired namespaces" checkbox checked"
On namespaces list by default expired namespaces are presented.

![image](https://user-images.githubusercontent.com/17684281/103707878-c3eea480-4faf-11eb-83ec-9391a03b0898.png)

Expected result: Expired namespace hidden by default and visible only if we check "Show expired namespaces"

[2021-01-05 22:50] cryptoBeliever opened #874 "Namespaces - descending sorting doesn't work"
Go to namespaces list and try sort descending by any property (id, name, expiration, alias type, alias).
Descending sorting doesn't work. Only ascending.

Example sorting descending by name:

![image](https://user-images.githubusercontent.com/17684281/103708127-46776400-4fb0-11eb-8f08-813e3c0f2e63.png)

Example sorting descending by expiration:

![image](https://user-images.githubusercontent.com/1

[2021-01-05 23:00] cryptoBeliever opened #875 "Aggregate - From selector reseting when editing"
Steps:
1. Go to aggregates.
2. Add simple transaction and select in "From" multisig account. Save.
3. Open again transaction.

Result: From is reset and it's presenting cosigner instead multisig account.

Video: https://www.loom.com/share/c62eeb16640f44e78c782fcb107fda46

[2021-01-05 23:08] cryptoBeliever opened #876 "Namespaces - metadata editing - strange behaviour"
Steps:
1. Go to namespaces
2. Choose namespace with metadata
3. Click "Edit metadata"
4. BUG. On pop-up "Target Label" is not selected to choosen namespace.
5. Select manualy namespace.
6. Select metadata. BUG. Namespace is cleared

Video: https://www.loom.com/share/e8470c68c87d46a9ac0591b6f39f9912

[2021-01-05 23:15] cryptoBeliever opened #877 "Metadata - not possible add metadata to mosaic owned by multisig"
Steps:

1. Create mosaic for multisig.
2. Go to mosaics, switch to multisig account.
3. Add metadata.
4. Mosaic selector is empty.

Video: https://www.loom.com/share/c5b4591a39d84a1ebb1059707de43ceb

[2021-01-05 23:36] cryptoBeliever opened #878 "Namespaces - not possible to edit or view metadata for namespace owned by multisig"
Steps:
1. Create namespace for multisig
2. Go to namespaces and add metadata for namespace owned by multisig. Cosign transaction by cosigners.
3. Go to namespaces. There is no way to preview or edit metadata.

![image](https://user-images.githubusercontent.com/17684281/103711165-17182580-4fb7-11eb-8c18-10554324bef1.png)
But as I can see in explorer this namespace have metadata:
http://explorer-0.1

[2021-01-05 23:45] cryptoBeliever opened #879 "Delegated harvesting - linking and activate as one user action?"
At this moment flow looks like this:
1. Go to delegated harvesting.
2. Choose node
3. Click "Start harvesting"
4. User signing here Linking aggregate and persistent delegated message transactions.
5. Only Linking aggregate is announced.
6. After confirmation button changing to "Activate"
7. User click "Activate" and delegated message is sent.

My proposition is to automatically send (right after l

[2021-01-06 00:17] cryptoBeliever opened #880 "Metadata - adding/editing. Wrong new value on pop-up"
Steps:
1. Add metadata to account with value "test test"
2. Edit metadata and set "test new"

Result: On pop-up is presented only "t" as new value:

![image](https://user-images.githubusercontent.com/17684281/103713410-8cd2c000-4fbc-11eb-8b3f-5464fadaea73.png)

Similar problem when we adding metadata with value "testóój" (non english letters) as a result we got metadata with presented value:

![

[2021-01-06 00:46] cryptoBeliever opened #881 "Restrictions - presenting multisig restrictions under cosigner"
Steps:

1. Open restriction pop-up on cosigner side and switch on pop-up to multisig.
2. Close restrictions pop-up
3. Open again pop-up. Now on selector, we have choosen cosigner account but restrictions are presented for multisig.

Video: https://www.loom.com/share/0cc37aa8d6744d4799a60699c199762a

[2021-01-06 06:54] surekabpm commented on #833
This issue is fixed ,we can close this issue
![image](https://user-images.githubusercontent.com/49143210/103738205-9cccbd00-5019-11eb-9865-79ce85e3cc16.png)

[2021-01-06 06:54] #833 closed

[2021-01-06 11:00] bassemmagdy commented on #856
@NikolaiB that's because amounts are only displayed on transfer transactions

[2021-01-06 11:19] bassemmagdy commented on #845
@NikolaiB can you verify this is still happening?

[2021-01-06 12:39] cryptoBeliever commented on #856
@bassemmagdy is about Transfer Transaction send as an Aggregate. Please fix :)

![image](https://user-images.githubusercontent.com/17684281/103769444-8f690000-5024-11eb-9cdf-33467860addd.png)
![image](https://user-images.githubusercontent.com/17684281/103769453-955ee100-5024-11eb-83f5-35e222fbe915.png)

[2021-01-06 15:38] jabo38 opened #884 "Need to be able to initiate txs for other in Aggregates"
One of the powerful features of aggregates it is that Alice can initiate a tx for Bob's account to do any tx, like send coins, make an alias, and what not.

Right now that isn't built into the Symbol wallet. This is a feature that is much better than an invoice because now Bob only needs to review the tx, not create it.

[2021-01-07 08:43] NikolaiB opened #886 "Remove the value from `Address or public key` field when co-signor is added"
WTR:
1. Go to Multisig page
2. Add cosignor

Result: cosignor address was not removed from `Address or public key` field

![image](https://user-images.githubusercontent.com/11311924/103870781-62851d80-50f6-11eb-90a8-39c9befd8a6a.png)

[2021-01-07 12:56] NikolaiB commented on #632
Fixed.

[2021-01-07 12:56] #632 closed

[2021-01-07 14:46] NikolaiB opened #887 "Invoice tab is overlaid by filter"
WTR:

1. Go to multisig account Dashboard
2. Choose multisig account from Multisig dropdown list

Result: you can see that invoice selector is overlaid

![image](https://user-images.githubusercontent.com/11311924/103905763-35059780-5129-11eb-9a13-6ecca32f05da.png)

[2021-01-11 19:02] cryptoBeliever commented on #708
@meyns I was unable to reproduce. I'm closing. Please let me know if you can still reproduce it.

[2021-01-11 19:02] #708 closed

[2021-01-13 21:22] bassemmagdy commented on #887
@NikolaiB please verify this issue is still happening either in the standalone app or [here](http://desktop-build.symboldev.com/)

[2021-01-13 23:24] cryptoBeliever commented on #828
Looks like fixed now.

[2021-01-13 23:24] #828 closed

[2021-01-14 05:28] #845 closed

[2021-01-14 15:07] NikolaiB commented on #887
@bassemmagdy I still can reproduce the issue on web and standalone apps

[2021-01-14 23:58] #813 closed

[2021-01-15 08:51] NikolaiB opened #895 "Getting wrong notification about minimal fees"
v.0.13.8

WTR:
1. Go to Transfer page/ Multisig page

Result: you can see wrong notification `please note that minmimal fees for the current selected node is 13 symbol.xym
` in real the fee is 0.176

![image](https://user-images.githubusercontent.com/11311924/104702794-b4562500-5740-11eb-964c-85b29de46e0a.png)

![image](https://user-images.githubusercontent.com/11311924/104711007-ff753580-574a-11e

[2021-01-15 10:41] trestoJP opened #898 "Javascript error"
symbol-desktop-wallet-win-0.13.7.exe

![2021-01-15 19-32-34-797](https://user-images.githubusercontent.com/59822825/104715241-9f41bc00-5769-11eb-9633-2cff2008e2f4.png)

[2021-01-15 12:22] Eugenity commented on #862
Verified

[2021-01-15 12:22] #862 closed

[2021-01-15 14:36] rg911 opened #903 "Code signing for Windows and Mac"
https://www.electronjs.org/docs/tutorial/code-signing

We would need to sign the wallet to stop showing the untrusted message when installing the native apps.

[2021-01-16 21:42] myxmaster commented on #785
(also here: Aggregate -> Simple transaction)

[2021-01-16 23:40] soul-surfer commented on #898
I can confirm this bug exists in 0.13.7 on Linux.  I downloaded the .xz archive for 64-bit linux.  Extracted the folder and ran ./symbol-desktop-wallet.

kernel: 5.10.2-2 x86_64

No window appears.  The following is the error that is displayed in the console.

    A JavaScript error occurred in the main process
    Uncaught Exception:
    Error: Cannot find module 'electron-localshortcut'
    Requ

[2021-01-17 14:47] myxmaster commented on #631
Probably duplicate of #813. Both issues have pull requests (#863 and #890) with different solutions...

[2021-01-17 14:52] myxmaster opened #919 "Export modal dialog layout issues"
This dialog has unnecessary whitespace and the Download button text is not correctly aligned.

![grafik](https://user-images.githubusercontent.com/77545287/104846648-dafc9300-58db-11eb-92eb-64c4f471f1b1.png)

[2021-01-17 14:53] myxmaster commented on #631
@garm01 I created a seperate issue for that (#919) since the cause is not the same.

[2021-01-18 11:52] rg911 opened #921 "Node switch issue"
When select different nodes from the available nodes list, the newly selected one seems not used by default.

It seems the websocket after node switch is still connected to the previous node

[2021-01-18 15:33] bassemmagdy opened #925 "Display linked keys in delegate harvesting"
There is a need to show the linked keys (both private  and public), as those keys might be used to setup a node by node owners. e.g. setup delegated harvesting in wallet first then setup their own symbol node.

[2021-01-18 17:31] #837 closed

[2021-01-18 20:13] myxmaster opened #926 "Buttons should show a loading indication during asynchronous operations"
Some button actions take a few seconds (e. g. login or profile backup download). In these cases a common loading indication should be shown during the asynchronous operation.

Since the view-design library is already in use, this button with loading indication could be used:
https://www.iviewui.com/components/button-en#Loading

[2021-01-18 20:37] myxmaster opened #928 "Suggestions for purple box on Home page"
Some suggestions for this box:

![grafik](https://user-images.githubusercontent.com/77545287/104960574-6b1a0580-59cc-11eb-9e73-72b35325459f.png)

1. There should be an "Address:" label before the address.
2. The text "XYM WALLET" makes no sense and should be removed.
3. After the balance, the currency code (XYM) should be displayed.

[2021-01-18 21:39] cryptoBeliever commented on #809
Video: https://share.getcloudapp.com/kpuNg60A

[2021-01-18 21:53] myxmaster opened #929 "Not possible to create more than 10 accounts"
After you have logged in to a profile it is not possible to create/add more than 9 additional accounts. It should be unlimited.

[2021-01-18 22:07] myxmaster opened #930 "Suggestions for profile creation (rephrasing)"
1. The text of the link to the profile creation page on the login page ("Create a new profile?") should just be "Create profile". It makes no sense as a question.
2. The title on the profile creation page currently is "Access my profile". Why not just "Create profile" again?
3. "Create mnemonic": The mnemonic is just one part of what is actually created here - a profile with accounts including add

[2021-01-19 01:33] jabo38 opened #931 "login button font isn't centered on Mac"
The login button looks bad.

![image](https://user-images.githubusercontent.com/10395907/104976988-d7006c00-59d4-11eb-8343-53aed0909402.png)

[2021-01-19 01:36] jabo38 commented on #929
I tested this and I'm not sure why it is limited to only 10. It should be unlimited. Many people use A LOT more than 10 addresses.

[2021-01-19 01:41] jabo38 commented on #928
@myxmaster is right. that isn't your "XYM WALLET". If anything it is your "XYM BALANCE". Note, a wallet and a balance are different things. So if it isn't changed to a "balance XYM" format as suggested in this report, it should at least say "XYM BALANCE balance"

[2021-01-19 01:49] jabo38 opened #932 "Warning before deleting an account isn't strong enough."
First, none of my apps so readily have delete buttons so apparent and highlighted in a different color. Usually to get to a delete button a person has to go through multiple menus. So I think it is a flaw to give such prime real estate on an app to a delete button. The other day I was using an app and tried to delete an account and it took me a loooong time to get to it. Deleting accounts are some

[2021-01-19 02:08] jabo38 commented on #930
1. I guess I would word it like "No Profile? Create one." This follows the same structure and pattern as when it later says, "Do you already have a profile? Click here to login now"

2. I guess if you are restoring a profile, technically you are "recreating my profile". So I'm not exactly sure the best term.

3.
![image](https://user-images.githubusercontent.com/10395907/104978552-7115e380-59d8-11

[2021-01-19 02:18] jabo38 opened #933 "Remove the Trezor button"
![image](https://user-images.githubusercontent.com/10395907/104979566-fa2e1a00-59da-11eb-848d-83a181840d79.png)

It is pretty clear we won't have Trezor anytime soon and definitely not before launch. That button should be removed then. Otherwise we are just fake news :-) and will confuse a lot of users as they try to connect a Trezor and nothing happens.

[2021-01-19 07:45] myxmaster commented on #930
1. "Do you already have a profile? Click here to login now" is also nice. Maybe a little long, but yeah, totally fine.
2. When you use an existing mnemonic you are technically still creating a new [symbol desktop wallet] profile since a profile consists more than just the mnemonic (e.g. contacts in address book, those are stored with the profile and will not be recreated if you enter your existing

[2021-01-19 08:35] segfaultxavi commented on #928
Also, there's something bogus in the number `9.771.7482`. Regardless of the locale, shouldn't the decimal point and the thousands separator have different representations?

[2021-01-19 11:55] myxmaster commented on #931
this might be fixed with this: https://github.com/nemgrouplimited/symbol-desktop-wallet/pull/927

[2021-01-19 12:15] myxmaster opened #934 "Missing feature: prepare/announce offline transaction"
For those who don't have a hardware wallet, this is an extremely important feature. Nano wallet (NIS1) is doing this pretty good in my opinion.

[2021-01-19 14:23] rg911 opened #936 "Subscribe to ws for multisig account"
In order to get notification as a cosigner, the wallet should also subscribe to the multisig account so if other cosigner announces an transaction requires consigning, all cosigner can get notified.

[2021-01-19 15:52] myxmaster commented on #928
@segfaultxavi right, see here: https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/670

[2021-01-19 15:54] myxmaster commented on #670
In Germany (de_DE.UTF-8) this is correct: 12.345,987654

[2021-01-19 16:31] NikolaiB opened #937 "Send Aggregate button should be disabled when no transactions saved"
![image](https://user-images.githubusercontent.com/11311924/105063448-f3200e00-5aa5-11eb-8f0b-10b027dbc6a6.png)

[2021-01-19 18:26] rg911 opened #938 "Detect harvesting status for delegated harvesting"
Delegated harvesting page: available nodes should exclude harvesting disabled nodes. e.g unlockedAccount endpoint returns 503 errors

[2021-01-19 20:56] jabo38 opened #939 "Sending by alias doesn't work"
created an alias "jabo38.account" and linked it to an account. I can't send to it.

created another alias "faucet" and linked it to an account. I can't send it.

I always get an error.

Using wallet version 0.13.8 on Mac

[2021-01-19 21:47] garm01 opened #940 "The selection dialog for the fees for aggregate transactions is not completely displayed."
![fee2](https://user-images.githubusercontent.com/46584115/105097016-37aca900-5aa8-11eb-8020-c61ae541a39d.png)

[2021-01-19 22:20] cryptoBeliever commented on #939
@jabo38 I believe this is duplicate of https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/785

[2021-01-19 22:20] #939 closed

[2021-01-19 22:22] cryptoBeliever commented on #898
Should be solved in 0.13.8

[2021-01-19 22:22] #898 closed

[2021-01-19 22:34] jabo38 commented on #939
yes it is.

[2021-01-20 10:33] garm01 opened #941 "No address check under "add a cosignatory""
if I enter an invalid address under "Add a cosignatory", it will be accepted without further checking and the transaction will be confirmed. e.g. "TYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY"  ... or similar
(0.13.8 - linux)

![invalidaddress2](https://user-images.githubusercontent.com/46584115/105162258-a7f01480-5b12-11eb-9f38-57bc10104101.png)

----

![invalidaddress5](https://user-images.githubuser

[2021-01-20 15:22] GodTanu opened #942 "Cannot sign multisig Tx (Version: 0.13.8 (ALL))"
Version: 0.13.8 (ALL)

Cannot sign multisig Tx.

The screen  is not displayed multisig's sign address to sign.

But I can see the signature screen on the recive address.
The address in this image is not a multisig's sign  address.
This is recive address.

![image](https://user-images.githubusercontent.com/20492223/105195668-33eb5600-5b7e-11eb-9cdd-be76e43648bd.png)

![image](https://user-images.gi

[2021-01-20 15:27] GodTanu commented on #942
https://github.com/nemtech/catapult-rest/issues/278

Is this relevant?

[2021-01-20 16:05] daoka opened #943 "A partial transaction that should sign doesn't appear in the account transaction list."
Application ver: 0.13.8 (mac)

When I convert an account to a multi signature.
Cosinatory's partial transaction list should be shown the multisig modification transaction, but It is not shown.
So cosignatory can not cosign.

here is the video capture.
https://drive.google.com/file/d/1LWhbI8DqxNk3Hz8N-7_QgU0v5chh_ckW/view?usp=sharing

[2021-01-20 16:28] rg911 commented on #943
Hi @daoka which node you are using in the wallet?

[2021-01-20 16:59] daoka commented on #943
I'm using api-01-us-west-1 in the wallet
http://api-01.us-west-1.testnet.symboldev.network:3000/

[2021-01-20 17:57] rg911 commented on #943
Hmm, I am using the same node, but cannot reproduce the error. We had a known issue on modifying multisig, but convert moultisig works as expected

[2021-01-20 21:59] myxmaster opened #946 "Application can be used without accepting terms and conditions"
Currently the modal dialog which prompts to accept the terms and conditions can be closed without accepting by using the cross on the top right corner or by clicking on the grayed out background. It is also possible, after clicking on the terms and conditions link, to navigate to all pages except Home. The terms and conditions should probably also be shown in a modal dialog.

[2021-01-20 22:31] myxmaster commented on #597
Right now hierarchical deterministic wallets allow to add a custom private key address. As described in this issue, this is not a good idea. Reopen this issue?

[2021-01-20 22:55] cryptoBeliever commented on #931
@jabo38 in latest 0.13.8 version is still not centered? On Linux looks fine.

[2021-01-20 22:56] cryptoBeliever commented on #895
Fixed.

[2021-01-20 22:56] #895 closed

[2021-01-20 22:57] cryptoBeliever commented on #886
Fixed in 0.13.8

[2021-01-20 22:57] #886 closed

[2021-01-20 23:12] cryptoBeliever commented on #921
@bassemmagdy web sockets to the previous node should stay open or should be closed?

[2021-01-21 09:42] rg911 commented on #936
will be patched in rest

[2021-01-21 09:42] #936 closed

[2021-01-21 10:20] myxmaster opened #948 "Warning about backup required when users add an account from private key"
Right now users can add a custom private key inside of their hd (hierarchical deterministic) wallet via Accounts -> Add an account. This will add a custom symbol account to their wallet (not derived from seed account). Therefore the mnemonic will not be enough to restore that custom symbol account.

Now, it is true that the backup feature (Accounts -> Back up Profile) does include that custom symb

[2021-01-21 12:10] Eugenity opened #949 "'Seed Account 1' remains in My accounts and upper menu after changing it with positive balance"
**Steps to reproduce:**

1. Create a profile from scratch
2. Use the faucet link and claim default amount of xym (not providing the sum)
3. Go to Accounts/My accounts
4. Change the Name of the 'Seed Account 1'

**Actual result:** There is a new entry with the name specified being created in My accounts, 'Seed Account 1' also remains there inactive (a user is able to select it via upper menu)
**Exp

[2021-01-21 19:29] rg911 opened #952 "Priority - Delegated harvesting to persist linked Keys"
At the moment Delegated harvesting registration won't save up the linked keys. It is proposed that:

#### Delegated harvesting improvement
1. Separate key link transactions and persistent harvesting transaction's creation & announcement
2. Step 1 (currently the `start` button): Generate Remote, VRF key pairs, create and announce 3 (Remote, VRF, Node) key link transactions in an aggregate complete.

[2021-01-21 20:07] garm01 commented on #527
Maybe it would be good to move the CSV export for the transactions/harvests to the "Account Information" section.
There is enough space there and it is specific to each individual account. Thus, the download button no longer interferes in the dashboard. Also enough space for a short hint of the function.

[2021-01-21 21:02] garm01 opened #953 "Incorrect display of the harvesting status of the same account on two different devices"
I have the same wallet installed on two devices. Although harvesting has been successfully activated for one account, it is not displayed on the other device. Only KEYS LINKED.
This means that if you restore the account on another device, you may have an incorrect display of the delegated harvesting status.

[2021-01-22 08:00] segfaultxavi commented on #952
Will this remove the need for the two-step process to enable Delegated Harvesting?

[2021-01-22 11:12] rg911 commented on #942
It is related. We are testing on rest at the moment

[2021-01-22 13:12] ryo-opening-line opened #954 "Delegated harvesting by using desktop wallet"
I'm running the following testnet node which has activated harvesting:
sym-test-02.opening-line.jp

I want delegated harvesting with the above my node by using desktop wallet.

So I'm trying, but it doesn't seem to work.
Could someone confirm it, please?

Here's steps:
1. Display Harvesting page
![image](https://user-images.githubusercontent.com/28587337/105494268-e4339880-5cfd-11eb-8243-0e138d870

[2021-01-22 15:07] segfaultxavi commented on #954
The keys shown in the Wallet are new keys required for harvesting that will be associated with your account, NOT with the node.
The only key that matches is the Node Public Key (in your screenshot), which is the same as your node's public TRANSPORT key (`F3A445...`).
Therefore, they look correct.
What happens when you Confirm that transaction?

I'm writing the guide to do this right now :)

[2021-01-22 22:38] cryptoBeliever commented on #942
@GodTanu it's a notification problem. The recipient should not receive notification and should not be able to accept it by password and sign. But if the recipient puts a password and accepts of course nothing happens. So it's more like a presentation issue - still important.

But multi-signature transaction signing works. Please check the video:
https://share.getcloudapp.com/YEuXqBqp

[2021-01-24 07:10] ryo-opening-line opened #962 "Japanese characters are garbled in metadata value"
Japanese characters are garbled in Namespace's metadata value.

Here're steps to reproduce:

1. Select  Namespaces tab and select Add metadata
![image](https://user-images.githubusercontent.com/28587337/105623387-b1ec7d00-5e5c-11eb-8e32-248e471c136e.png)

2. Input Japanese text in Namespace metadata dialog and Send transaction
![image](https://user-images.githubusercontent.com/28587337/105623532-d

[2021-01-24 08:09] GodTanu commented on #942
@rg911
If the relevant problem(nemtech/catapult-rest#278) is cured, will the current problem not occur?

[2021-01-24 08:44] cryptoBeliever commented on #962
I think it might be related to https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/880

[2021-01-24 08:47] cryptoBeliever commented on #953
I think it is related to that app don't know which one IP has a node connected to.
@rg911 can we improve it?

[2021-01-24 08:50] cryptoBeliever commented on #903
It's in progress AFAIK. Already done for Mac, waiting for Windows certificate.

[2021-01-24 08:55] cryptoBeliever commented on #921
Currently it's improved. When changing node two websockets are open (for account and for blocks).
Old account websocket is closed when switching node but block websocket is not.

[2021-01-24 14:26] garm01 opened #963 "Information about Harvesting status not clear engough"
v0.13.8 linux

When users activate harvesting, the information about the current status is not clear enough.
It is not easy for the ordinary user to see where there may be problems. You have the short pop-ups that are displayed at the top right, but these may not be meaningful enough for ordinary users. In addition, the time in which the **pop-ups are displayed is relatively short, which is partic

[2021-01-24 16:47] garm01 commented on #963
PS: If I press the "Activate" button(deleg.Harvesting)  and see "Activating", but then switch e.g. from "Harvesting" to "Accounts" and back, the "Activate" button is highlighted purple again, as if no action had taken place.

[2021-01-24 22:47] ryo-opening-line commented on #954
@segfaultxavi thanks for confirmation.

thanks!
i found tx in TRASPORT address, but nothing's happened when that transaction's confirmed.

http://explorer.testnet.symboldev.network/transactions/631F89C453D51F5E3CB37B7139797B7221A0D9415F7CC8089C1200EDE8496901

i will investigate further, and let you know.

Thanks.

[2021-01-24 22:56] ryo-opening-line opened #964 "Invalid Delegated Harvesting Node Url List"
Invalid delegated harvesting nodes are available in the desktop wallet.

![image](https://user-images.githubusercontent.com/28587337/105646241-36cdaa00-5ee2-11eb-90a5-cfbcbffecdf2.png)

The following nodes are NOT activated harvesting nodes.
sym-test-07.opening-line.jp
sym-test-08.opening-line.jp
sym-test-09.opening-line.jp
sym-test-12.opening-line.jp

Could you let me know what the conditions are

[2021-01-25 05:30] ryo-opening-line opened #965 "Delegated Harvesting Node Url Selection Problem"
I found the issue related to selecting a delegated harvesting node in the desktop wallet as follows:

1. Select a node from list
![image](https://user-images.githubusercontent.com/28587337/105664887-21c03d80-5f19-11eb-93bc-0baaa16e1711.png)

2. Push Start and cancel the Sign transaction(s) dialog
![image](https://user-images.githubusercontent.com/28587337/105665038-6f3caa80-5f19-11eb-90ef-67230c85

[2021-01-25 07:14] segfaultxavi commented on #954
Since your node is an API node (besides a Peer node) you can ask it the list of currently registered delegated harvesters:
http://sym-test-02.opening-line.jp:3000/node/unlockedaccount
This shows that there's only one, with public key `1C0F8DB3485DD5BDB8364DAE52CBE53BD7DBD843C2B2A274DBEFE1266CB38014`.
This is the **Main** account of your node (as you showed above).
If we examine this account:
http:

[2021-01-25 14:18] garm01 opened #966 "No error message when swapping the harvesting node."
Select the node that is no longer in the list, but to which another wallet account is still connected.
An empty window for entering the password is displayed.
No further error message. No reaction when confirming the password.

![swap](https://user-images.githubusercontent.com/46584115/105717439-6c918380-5f20-11eb-8861-7eae355a1696.png)

[2021-01-25 21:31] garm01 opened #968 "Hints are not readable"
1) Enter address
2) If the fee is changed below the recommended amount, the hints overlap.
(PS: To set the recommended fee to 0 fee, two attempts are needed. I am not sure if this is intentional. )

---

![hint2](https://user-images.githubusercontent.com/46584115/105767395-4a692700-5f5b-11eb-9a9e-520ab48a4009.png)

[2021-01-25 21:44] cryptoBeliever commented on #965
@bassemmagdy could you check?

[2021-01-25 21:45] cryptoBeliever commented on #929
@rg911 wasn't this intentional? I mark as enhancement for now

[2021-01-25 21:52] cryptoBeliever commented on #931
@NikolaiB please check if possible.

[2021-01-26 11:24] NikolaiB commented on #931
@cryptoBeliever in latest 0.13.8 version this button is centered.

[2021-01-26 12:53] Eugenity commented on #753
The issue is reproducible again/still. The reason is now that the recipient does not have the outgoing transaction. Once the recipient has successfully announce the outgoing transaction the ecrypt function works for the sender.

[2021-01-26 12:57] Eugenity commented on #753
[Video](https://share.getcloudapp.com/v1uN1ArA)

[2021-01-26 14:34] jabo38 commented on #931
fixed. closing

[2021-01-26 14:34] #931 closed

[2021-01-26 16:06] garm01 opened #969 "Diagnostic console"
I think it would make sense to reintroduce the "Diagnostic Console" for the wallet, as was the case in older versions. Certainly in an improved version.
If so, then the console should be added under "Settings", as most users will probably not use it. So you have the possibility to track (error)messages better. I would keep this as the default in the mainnet as well.
But maybe there are good reason

[2021-01-26 18:55] cryptoBeliever commented on #570
@segfaultxavi when you running installed version you have in top bar "Symbol Wallet". Do you think that it's it good enought?

![image](https://user-images.githubusercontent.com/17684281/105891031-6f6ba180-6010-11eb-8409-a9b57a5cb7b6.png)

[2021-01-26 18:57] cryptoBeliever commented on #500
Looks like fixed in 0.13.8

[2021-01-26 18:57] #500 closed

[2021-01-26 19:06] cryptoBeliever commented on #624
This should be improved when this fix will be released https://github.com/nemtech/catapult-rest/issues/278

[2021-01-26 19:20] cryptoBeliever commented on #954
@ryo-opening-line can you confirm if all is OK or you have still problem?

[2021-01-26 19:49] cryptoBeliever commented on #953
It works the same in NIS1. For now, I marking it as an improvement.

[2021-01-26 19:57] cryptoBeliever commented on #949
@Eugenity what version of wallet are you using? I'm unable to reproduce on 0.13.8

[2021-01-26 20:03] cryptoBeliever commented on #943
@daoka are you able to reproduce on other node than http://api-01.us-west-1.testnet.symboldev.network:3000/?

[2021-01-26 20:21] cryptoBeliever commented on #866
@NikolaiB could you verify?

[2021-01-26 20:27] cryptoBeliever commented on #830
Is this problem also after installing 0.13.8?

[2021-01-26 20:28] cryptoBeliever commented on #816
@NikolaiB could you still reproduce now when load testing are not done?

[2021-01-26 20:33] cryptoBeliever commented on #748
Closing.

[2021-01-26 20:33] #748 closed

[2021-01-26 20:37] cryptoBeliever commented on #720
Duplicate of https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/903

[2021-01-26 20:37] #720 closed

[2021-01-26 20:38] cryptoBeliever commented on #705
Fixed.

[2021-01-26 20:38] #705 closed

[2021-01-26 20:44] cryptoBeliever commented on #946
Fixed.

[2021-01-26 20:48] cryptoBeliever commented on #844
@bassemmagdy after I used ctr+R in the application something strange happened:

![image](https://user-images.githubusercontent.com/17684281/105903466-33403d00-6020-11eb-9a3d-713357d9085c.png)

[2021-01-26 20:51] cryptoBeliever commented on #844
Looks like fixed now.

[2021-01-26 20:51] #844 closed

[2021-01-26 20:53] cryptoBeliever commented on #766
NGL address still is wrong:

![image](https://user-images.githubusercontent.com/17684281/105904051-f3c62080-6020-11eb-9931-6078ec68855b.png)

[2021-01-26 21:30] cryptoBeliever commented on #946
Still I'm able to use wallet without accepted terms.
1. Click terms details
2. Go to transaction view.
Pop-up shows again only if I click home.

Maybe it should be enforced on profile creation/importing?

[2021-01-27 04:06] NikolaiB commented on #866
fixed

[2021-01-27 04:06] #866 closed

[2021-01-27 04:09] NikolaiB commented on #816
@cryptoBeliever Can not reproduce. I will close the issue.

[2021-01-27 04:09] #816 closed

[2021-01-27 07:01] cryptoBeliever commented on #631
@NikolaiB could you check on Mac (login and download buttons)?

[2021-01-27 07:02] segfaultxavi commented on #570
I guess I'm a romantic but I like proud programs that announce themselves with a big splash screen and then keep the program's icon or logo constantly on screen :)
But this is definitely a matter of taste, so no pressure. Marketing will probably have something to say, though.

[2021-01-27 07:03] NikolaiB commented on #631
@cryptoBeliever yes, it's centered (Version: 0.13.8)

[2021-01-27 07:35] GodTanu commented on #963
Unable to press the enable character after Link is completed.
So PersistentDelegationRequestTransaction is not issued.

Is this a known bug?
Is it possible to do delegated harvesting from the wallet at this time?

Is there a workaround?

[2021-01-27 07:39] cryptoBeliever commented on #963
@GodTanu
Is this for specific node/account?
If you are using web version could you check if you don't have JS error in Chrome console?

[2021-01-27 07:41] cryptoBeliever commented on #631
Ok. Closing.

[2021-01-27 07:41] #631 closed

[2021-01-27 14:15] OlegMakarenko opened #970 "Node selector doesn't work"
![image](https://user-images.githubusercontent.com/33131259/106003501-ed848280-60ba-11eb-8848-d003c3b9b2cc.png)

[2021-01-27 14:28] moe8ius opened #971 "Address with a hyphen when creating a simple transaction in Symbol desktop wallet"
When I creating a simple transaction in Symbol desktop wallet, the address with a hyphen does not allow saving it.

![scr-27jan2021](https://user-images.githubusercontent.com/78087691/106005014-d8acec80-60c4-11eb-9721-7453dc042b9d.jpg)

Win7, Google Chrome, ver.0.13.8

[2021-01-27 14:32] bassemmagdy commented on #970
This is not supposed to be working for switching between your nodes. You should be able to switch them using left bottom corner menu.

[2021-01-27 14:46] OlegMakarenko commented on #970
Got it. What is a purpose of this list?

[2021-01-27 14:55] OlegMakarenko opened #972 "Modal views. Too many scrollbars"
![image](https://user-images.githubusercontent.com/33131259/106008835-633f1d00-60c0-11eb-8aab-811d9e363561.png)

[2021-01-27 15:02] OlegMakarenko opened #973 "Transaction list. Transaction icons are not centered"
![image](https://user-images.githubusercontent.com/33131259/106009814-6edf1380-60c1-11eb-8f9f-3fdca5b6dcf5.png)

[2021-01-27 16:14] OlegMakarenko opened #975 "Review and fix translations"
![image](https://user-images.githubusercontent.com/33131259/106019504-67246c80-60cb-11eb-9506-7b5455caf973.png)

[2021-01-27 19:16] myxmaster opened #976 "Notification popups can be missed too easily"
There are some issues with the notifications that are displayed in the top right corner:
- The timeout is too short. At least for errors there should either be no timeout or you should be able to look it up in some place.
- New notifications replace the previously shown notification. So some notifications might be displayed for a very short time so that you are not able to read it.

I suggest usin

[2021-01-27 19:48] myxmaster opened #977 "Transaction form layout suggestion"
Currently the amount input field has no label. Additionally the mosaic select box might be too small if a mosaic with a very long alias is selected.

I suggest to separate mosaic and amount into two rows. Also, amount should be above mosaic.

![grafik](https://user-images.githubusercontent.com/77545287/106044968-b2954580-60e0-11eb-906a-923e67dcde94.png)

[2021-01-27 22:04] OlegMakarenko opened #981 "Update UI with the latest design"
- icons
- component styles

[2021-01-27 23:12] cryptoBeliever commented on #937
It's fixed.

[2021-01-27 23:12] #937 closed

[2021-01-27 23:17] cryptoBeliever commented on #968
@OlegMakarenko what about "(PS: To set the recommended fee to 0 fee, two attempts are needed. I am not sure if this is intentional. )"? Is this intentional?

[2021-01-27 23:21] cryptoBeliever commented on #809
Fixed.

[2021-01-27 23:21] #809 closed

[2021-01-28 08:52] daoka commented on #943
@cryptoBeliever
I've tried another node `api-01-eu-central-1
http://api-01.eu-central-1.testnet.symboldev.network:3000`
It didn't reproduce. It was success.

[2021-01-28 17:13] OlegMakarenko commented on #968
@cryptoBeliever thanks. [Fixed](https://github.com/nemgrouplimited/symbol-desktop-wallet/pull/984)

[2021-01-28 21:43] myxmaster commented on #970
Hm, I think this is really confusing and I think it should be possible to switch nodes at this point.

Most of the time people will add a node to use it. So it should be selectable here. Maybe even autoselect it after adding.

[2021-01-28 22:04] garm01 commented on #970
please have a look #657

[2021-01-29 05:52] jabo38 commented on #929
A long time ago when the wallet was being made, I had suggested that there be around 10 accounts given as a start. That’s because few people need 10 accounts when starting. But it wasn’t ever supposed to be a hard limit.

I also suggested that as long as there are accounts with funds they should be listed.

So for instance, if my first 20 accounts from the seed all have funds, all 20 should be sho

[2021-01-29 05:53] jabo38 commented on #929
I personally think it’s more than an enhancement. Like why only allow 10 when the mobile and optin allow more.

[2021-01-29 06:42] cryptoBeliever commented on #929
@jabo38 the question is if we need it at start? What you think?

[2021-01-29 08:40] OlegMakarenko commented on #970
close this issue as duplicate of #657

[2021-01-29 08:40] #970 closed

[2021-01-29 08:48] NikolaiB opened #993 "Mosaics Fee dropdown list is not fully visible"
Desktop v0.13.8

WTR:

1. Go to Mosaics page
2. Click Add metadata button
3. Select Fee

Result: you can see that dropdown list is not fully visible
![image](https://user-images.githubusercontent.com/11311924/106252822-e4252280-6240-11eb-83c3-82515ab09a81.png)

[2021-01-30 23:18] cryptoBeliever commented on #933
Fixed.

[2021-01-30 23:18] #933 closed

[2021-01-30 23:21] cryptoBeliever commented on #968
Fixed.

[2021-01-30 23:21] #968 closed

[2021-01-31 04:37] ryo-opening-line opened #996 "Disappeared my xym when transferring xym from my address to the same my address"
When I transferred xym to my own account(which means the from and to account are the same), transferred xym are disapeared.

Here're the steps:

1. Check your balance
![image](https://user-images.githubusercontent.com/28587337/106374602-25940a00-63c8-11eb-80b3-48fa758bff65.png)

You see that I have 7,512 xym.

2. Transfer some xym to your own account
![image](https://user-images.githubusercontent.

[2021-01-31 05:04] ryo-opening-line commented on #996
Oh, self-resolved. This tx's fee was 1,123 xym.
I think fee is too expensive.

How can I know the tx's fee before transferring txes?

[2021-01-31 10:05] #996 closed

[2021-01-31 10:24] ryo-opening-line opened #997 "Overlapping text message in transfer tab"
When you select No fee/Slowest in transfer tab, the following messages is overlapping.
- Please note that the minimal fee multiplier for the currently selected node is 100
- Send Transaction with a less than recommended fee might not get accepted and eventually expire.

![image](https://user-images.githubusercontent.com/28587337/106381081-ccdd6500-63f9-11eb-8623-757c103267ef.png)

Could you check

[2021-01-31 11:34] cryptoBeliever commented on #997
It's already fixed (https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/968)
You can check in live build http://desktop-build.symboldev.com/

[2021-01-31 11:34] #997 closed

[2021-01-31 13:10] mm-s opened #998 "Error when installing on Debian: Some dependencies are missing"
System:
[code]

Reproduce:
<pre>
<b>wget https://github.com/nemgrouplimited/symbol-desktop-wallet/releases/download/v0.13.8/symbol-desktop-wallet-linux-amd64-0.13.8.deb

sudo dpkg -i symbol-desktop-wallet-linux-amd64-0.13.8.deb</b>

Selecting previously unselected package symbol-desktop-wallet.
(Reading database ... 201820 files and directories currently installed.)
Preparing to unpack symbol-desk

[2021-01-31 14:03] trestoJP opened #999 "cannot send any transactions(exe version)"
symbol-desktop-wallet-win-0.13.8.exe
If I use this, all transactions(mosaic,namespace,multisig,harvesting..all) will time out and cannot be sent.

symbol-desktop-wallet_0.13.8.all.zip
This one works. However, I have not confirmed that all of them work.

[2021-01-31 15:03] cryptoBeliever commented on #999
@trestoJP is this on all nodes or specific one?

@surekabpm please verify.

[2021-02-01 06:08] trestoJP commented on #999
I haven't tried it with all nodes, but I was able to send it when I switched other nodes.
It seem still unstable.

[2021-02-01 07:49] myxmaster commented on #977
If you agree I can go ahead and implement it. I just didn't want to invest the time if you don't like this suggestion...

[2021-02-01 17:43] Eugenity commented on #949
@cryptoBeliever The issue is still reproducible in the latests version.

[2021-02-01 17:46] Eugenity commented on #949
Moreover the issue has a **side effect:**

**A user is unable to add more than one seed account to the profile with 'Seed Account 1' bug.**

the error message "This private key already exists. The account name is Gene4child1" is displayed when trying to add it.

[2021-02-01 17:47] Eugenity commented on #949
[Screenshot](https://share.getcloudapp.com/jkueqo54)

[2021-02-01 18:18] rg911 commented on #981
@OlegMakarenko could you specify the details of the UI issues pls?

[2021-02-01 18:19] rg911 commented on #977
would it be better to float the amount boxes? or fix the length of the mosaic box?

[2021-02-01 18:23] rg911 commented on #999
@trestoJP  still have the problem now? Stress testing was on testnet last week. The transaction announcement was slow and the fee multiplier was hiked up. btw have you tried selecting faster fees

[2021-02-01 18:34] cryptoBeliever commented on #932
Fixed.

[2021-02-01 18:34] #932 closed

[2021-02-01 18:34] cryptoBeliever commented on #932
![image](https://user-images.githubusercontent.com/17684281/106502317-84d74480-64c4-11eb-8a90-3f9044d90b3b.png)

[2021-02-01 18:35] Eugenity opened #1005 "A user is unable to successfully initiate a Multisig transaction using co-signer account from different profile"
**Steps to reproduce:**

1. Create a Multisig for an account using addresses from a separate profiles
2. Add 2 co-signers (tested with such number of co-signatories), each from a different profile (those 2 can be in one account, one seed) for a transaction approving and 1 for a removal
3. Initiate a transaction from one of the co-signers
**Expected result:**  Funds lock transaction is successful,

[2021-02-01 18:45] cryptoBeliever commented on #948
@OlegMakarenko
Warning added but I'm able click 'x' or click outside warning window and result will be same as "Understood"

![image](https://user-images.githubusercontent.com/17684281/106503524-09769280-64c6-11eb-9b09-eb4c042ed946.png)

[2021-02-01 19:16] cryptoBeliever commented on #1005
I'm not able to reproduce. I checked on http://desktop-build.symboldev.com/
If indeed Aggregate was not announced I suppose it's another reason (for example bad node) than sending from another profile.
Please give steps to reproduce.

[2021-02-01 21:44] cryptoBeliever opened #1007 "Error in log when signing transaction"
I can see error like this in logs. It's when I sign multisig transaction:

hostReportError.js:3 Uncaught TypeError: Invalid attempt to spread non-iterable instance.
In order to be iterable, non-array objects must have a [Symbol.iterator]() method.
    at w (app.16f79732.js:1)
    at y (app.16f79732.js:1)
    at y.setAllTransactions (Transaction.ts:206)
    at vuex.esm.js:844
    at vuex.esm.js:466

[2021-02-02 10:37] rg911 opened #1010 "Update HD wallet path to separate main / test net"
Currently the HD wallet path is hardcoded, and both main and test nets are sharing the same path.

It is recommended that we use a different path (coin type part) for the testnet.

Proposed change:
- Mainnet path uses `4343` as it is now
- Testnet path uses `1`
- Add a handler to set the correct path for different networktype

[2021-02-02 15:54] Eugenity commented on #1005
That's quite strange, cause simpe transactions are OK, I was able to send from different accounts many times. But with multisig I am not only unable to announce a transaction successfully but also cannot reduce number of the signers or the latest time I cannot even create a new Mutisig. Could I somehow messed up with the accouts so they won't work in the Multisig part?

[2021-02-02 15:59] rg911 opened #1011 "Multisig account information not updated after account switched for ws subsciption."
When selecting the different account, the multisig account information should be updated according to the `currentAccount`.

[2021-02-02 16:02] rg911 opened #1012 "When select different signer (multisig) from transaction creation page, wallet fires unnecessary rest calls"
when select a different signer (multisig), the transaction page becomes unresponsive for a few seconds. This was because the account store was loading all the account information which most are not needed, which also spamming the rest API server

[2021-02-02 16:48] cryptoBeliever commented on #1005
What wallet are you using (version and platform)?
Could you check on live build version if you getting some errors in Chrome console?

[2021-02-02 17:14] Eugenity commented on #1005
api-01-us-west-1
I did not see any specific errors in the console whilst waiting for a transaction being announced.
[Video](https://www.loom.com/share/69b6add9748744948709ae3f1f879f04)

[2021-02-02 17:14] Eugenity commented on #1005
I was using live build.

[2021-02-02 17:42] jabo38 opened #1013 "should not mix testnet and mainnet wallets in the same profile."
I wanted to import some private keys into the wallet and see what they looked like on the mainnet. I made a profile and selected "mainnet". I used a seed and my first x amount of child accounts created from the seed all started with "N". Then I went to create private key accounts added to the profile. In doing so, the addresses started with a "T".

Below is the screenshot of a "T" account and an "

[2021-02-02 17:43] jabo38 commented on #1013
Basically, when somebody creates a profile, ideally all other accounts whether from the seed or private key should stay on that same network.

[2021-02-02 18:06] cryptoBeliever commented on #948
Changing to P3 because warning is present. We need only fix that it's accepted only using "Understood"

[2021-02-02 18:22] cryptoBeliever commented on #830
@NikolaiB ?

[2021-02-02 18:27] cryptoBeliever commented on #954
@ryo-opening-line ?

[2021-02-02 18:28] cryptoBeliever commented on #929
@jabo38 for now marking as P3. Please let me know how you feel about that.

[2021-02-02 18:37] cryptoBeliever commented on #972
@OlegMakarenko I'm marking as P3 but if you have any time please fix it.

[2021-02-02 18:39] cryptoBeliever commented on #975
@OlegMakarenko isn't this related with https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/662?

[2021-02-02 18:41] cryptoBeliever commented on #998
Looks like on Ubuntu I got this dependency already installed. Still for verification.

[2021-02-02 18:43] cryptoBeliever commented on #1007
I'm marking as P3 because I'm not sure if it has impact on app working.

[2021-02-02 18:45] cryptoBeliever commented on #1013
may be related to https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/1010

[2021-02-02 19:54] cryptoBeliever commented on #949
@Eugenity please try provide reproduce steps. I had also such a situation but no ability to reproduce it with specific reproduction steps.

[2021-02-02 19:55] cryptoBeliever commented on #948
Fixed.

[2021-02-02 19:55] #948 closed

[2021-02-02 20:00] cryptoBeliever commented on #941
@OlegMakarenko after this change I'm unable to use as a cosigner account without transactions (unknown to a network).
Why we need to call API? TYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY is valid address?

[2021-02-02 20:09] cryptoBeliever commented on #940
Fixed.

[2021-02-02 20:09] #940 closed

[2021-02-02 20:21] cryptoBeliever commented on #928
Fixed.

[2021-02-02 20:21] #928 closed

[2021-02-02 20:23] cryptoBeliever commented on #926
Fixed (loading) for login

[2021-02-02 20:29] cryptoBeliever commented on #919
Fixed.

[2021-02-02 20:29] #919 closed

[2021-02-02 20:33] cryptoBeliever commented on #880
Fixed.

[2021-02-02 20:33] #880 closed

[2021-02-02 20:38] cryptoBeliever commented on #971
Fixed (you can check in live build http://desktop-build.symboldev.com/)

[2021-02-02 20:38] #971 closed

[2021-02-02 20:44] cryptoBeliever commented on #962
Tried with random text "新 あたら しい 記事 きじ を 書"
Works well:

![image](https://user-images.githubusercontent.com/17684281/106659990-c12ba300-659f-11eb-8fa1-e0d43a23080c.png)

You can verify before release here: http://desktop-build.symboldev.com/

[2021-02-02 20:44] #962 closed

[2021-02-02 21:00] cryptoBeliever commented on #965
Harvesting was reworked (still in tests). This bug was fixed (you can check in live build http://desktop-build.symboldev.com/)

[2021-02-02 21:00] #965 closed

[2021-02-02 21:05] cryptoBeliever commented on #964
http://desktop-build.symboldev.com/ - please check here
On list are visible all peers. If peer is not dual then you need put manually public key (because wallet can't call API).

[2021-02-02 21:26] cryptoBeliever commented on #624
Partial transactions are now presented for cosigners too. Fixed.

[2021-02-02 21:26] #624 closed

[2021-02-02 21:33] cryptoBeliever commented on #879
The process is now changed and transaction signing splitted.

[2021-02-02 21:33] #879 closed

[2021-02-02 21:38] cryptoBeliever commented on #943
@rg911
This was most probably related to closed WebSockets (Funds Lock confirmed but Aggregate not announed).
I'm closing because we have another issue for that: https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/1011

[2021-02-02 21:38] #943 closed

[2021-02-02 21:43] cryptoBeliever commented on #942
Currently:
- recipient doesn't have a possibility to put a password (no password input visible)
- cosigners now see notification without the need to switch to multisig account

Live build: http://desktop-build.symboldev.com/

[2021-02-02 21:43] #942 closed

[2021-02-02 21:58] cryptoBeliever commented on #855
Now pageSize was changed to 100. So first 100 transactions is presented. Still if someone have above 100 namespaces then only 100 will be presented.
I will mark it as enhancement proposition because it's very unlikely that someone will have above 100 namespaces.

[2021-02-02 22:01] cryptoBeliever commented on #921
Web sockets management will be checked by @rg911 in https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/1011
I'm closing this one.

[2021-02-02 22:01] #921 closed

[2021-02-02 22:50] cryptoBeliever commented on #1007
I don't see this error currently. Closing.

[2021-02-02 22:50] #1007 closed

[2021-02-02 22:53] cryptoBeliever commented on #941
Fixed.

[2021-02-02 22:53] #941 closed

[2021-02-02 22:58] cryptoBeliever commented on #1005
It's most probably related to https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/1011
Please verify when it will be solved.

[2021-02-02 23:59] rg911 commented on #998
@mm-s in fact if you have time perhaps you can have a look at this one?

[2021-02-03 01:14] ryo-opening-line commented on #964
@cryptoBeliever thanks for your kind feedback.

i checked http://desktop-build.symboldev.com/. but seems something wrong.
i have not-activated harvesting nodes on list yet.

here's the result:

![image](https://user-images.githubusercontent.com/28587337/106683406-c6bcd380-6607-11eb-93e8-0502b32ae658.png)

you can see the following not-activated harvesting nodes listed:

https://sym-test-08.opening

[2021-02-03 01:17] ryo-opening-line commented on #954
@segfaultxavi @cryptoBeliever thanks guys!

closing this issue.

thanks!

[2021-02-03 01:17] #954 closed

[2021-02-03 04:50] NikolaiB commented on #830
@cryptoBeliever fixed.

[2021-02-03 04:50] #830 closed

[2021-02-03 09:12] OlegMakarenko commented on #941
@cryptoBeliever my bad, yes we can cosign an aggregate with 0 balance

[2021-02-03 09:45] cryptoBeliever commented on #941
@OlegMakarenko no problem @rg911 fixed it.

[2021-02-03 09:46] cryptoBeliever commented on #964
@ryo-opening-line what you mean by not-activated harvesting nodes?
Those nodes are visible because you are able to start harvesting on it.

[2021-02-03 14:20] OlegMakarenko commented on #949
@cryptoBeliever I can reproduce it following the steps on the description

[2021-02-03 17:15] myxmaster commented on #926
Well, there are still other places where this need to be implemented. Maybe keep this open as a reminder? Login was just the most important one...

[2021-02-03 17:23] james-lin71 commented on #855
That's completely right!
To make the pagination to be work, we maybe need to know total count of namespaces not limited by number per page on PageResponse. Anybody take this problem on rest side?

[2021-02-03 17:26] rg911 commented on #855
we don't have the total count for any of the pagination endpoint on rest. this is intended by design. Catapult-rest should be a light weight rest-api server and should not to expensive aggregation / scan jobs. @james-lin71 we had this discussion already, and the decision was not to use count.

[2021-02-03 17:56] cryptoBeliever opened #1022 "Ledger - "Show on Ledger" button broke multisig tree"
Steps:

1. Login using ledger.
2. Switch to multisig account.
3. Multisig tree is not expanding when I'm clicking it. It's caused by "Show on Ledger" button probably

![image](https://user-images.githubusercontent.com/17684281/106788630-7cf8db00-6651-11eb-9554-6a56e35a8ff7.png)

[2021-02-03 18:12] cryptoBeliever opened #1023 "Useless checkbox on Restrictions confirmation view"
When opening restrictions confirmation view there is a useless checkbox:

https://share.getcloudapp.com/nOulWDKo

[2021-02-03 18:29] rg911 commented on #1023
https://github.com/nemgrouplimited/symbol-desktop-wallet/pull/1020

[2021-02-03 19:45] OlegMakarenko opened #1025 "ModalConfirm. Long text going off the box"
![image](https://user-images.githubusercontent.com/33131259/106800219-d9b3c000-6668-11eb-821a-64f54ed57c77.png)

[2021-02-03 21:39] cryptoBeliever commented on #949
@Eugenity please confirm that it's fixed in http://desktop-build.symboldev.com/ :+1:

[2021-02-03 21:43] cryptoBeliever commented on #1023
Fixed.

[2021-02-03 21:43] #1023 closed

[2021-02-03 21:44] cryptoBeliever commented on #1025
Fixed.

[2021-02-03 21:44] #1025 closed

[2021-02-03 21:47] cryptoBeliever commented on #964
Nodes with disabled harvesting returning 503 when using endpoint /node/unlockedaccount (It was fixed in https://github.com/nemgrouplimited/symbol-desktop-wallet/pull/1021)
Those above looks correct to me (have enabled harvesting possibility)

[2021-02-03 21:51] cryptoBeliever commented on #926
@myxmaster you are right, leaving open.

[2021-02-03 22:19] ryo-opening-line commented on #964
@cryptoBeliever sorry! I could be wrong....
Will sort it out and reopen it if needed.
closing this issue.

[2021-02-03 22:19] #964 closed

[2021-02-03 22:51] garm01 opened #1029 "Message with 1024 characters not possible"
Fill in the message field until you get the error message ("The message field may not be greater than 1024 characters").
Delete a character.
Send the message.

After that an error message appears:
" Failure_Transfer_Message_Too_Large "

---

![character](https://user-images.githubusercontent.com/46584115/106819790-95c9b680-667a-11eb-8e3e-ee2f701c0fd0.png)

[2021-02-04 11:09] myxmaster commented on #977
Floating usually creates other issues. Fixed size doesn't solve the problem, when the mosaic name is too long. Plus the missing "Amount" label wouldn't be resolved.

So yeah, the only good solution I see is putting the Amount input in its own row with a label. And I would put it *above* mosaic name, because we usually say 1234 XYM, and not XYM 123. But I don't have a too strong opinion with that..

[2021-02-04 11:52] Eugenity commented on #949
Verified

[2021-02-04 11:52] #949 closed

[2021-02-04 11:53] OlegMakarenko opened #1034 "The Cosign Aggregate Bonded Modal displays wrong information for a couple of seconds"
![image](https://user-images.githubusercontent.com/33131259/106889047-20003200-66f0-11eb-85c3-7c06e2ab02b1.png)
![image](https://user-images.githubusercontent.com/33131259/106889055-2393b900-66f0-11eb-8a67-e0bdd854a173.png)

[2021-02-04 11:58] OlegMakarenko opened #1035 "Unable to send transfer trasaction with long account name"
![image](https://user-images.githubusercontent.com/33131259/106889707-10351d80-66f1-11eb-894d-f83b5627f16e.png)

[2021-02-04 14:07] rg911 commented on #875
This should as well be fixed by https://github.com/nemgrouplimited/symbol-desktop-wallet/pull/1032

[2021-02-04 15:00] cryptoBeliever commented on #875
@rg911 no. Still able to reproduce but now I have open twice:
https://share.getcloudapp.com/NQuJvejL

[2021-02-04 16:25] rg911 opened #1039 "Display multisig transactions with all different groups to it's cosignatuires"
- currently, all cosigners can view partial transactions assigned to their multisig account, but only the multisig and initiator can directly see the confirmed (or other statuses) bonded transaction
- The user need to toggle the cosigner / multisig account on the transaction list in Dashboard
- It would be nice to have all cosigners to automatically receive multisig account's transactions from all

[2021-02-04 17:03] yilmazbahadir opened #1042 "In the Tx details modal page, detail sections overlaps when multisig mosaic creation tx viewed"
![image](https://user-images.githubusercontent.com/6256269/106928074-b6d9e800-670a-11eb-9241-a27ca3f50ff1.png)

[2021-02-04 19:06] cryptoBeliever commented on #1013
It's fixed now. Accounts mainnet/testnet are not mixed in one profile.

[2021-02-04 19:06] #1013 closed

[2021-02-04 19:08] cryptoBeliever commented on #1010
HD derivation path is now changed. Clear warning about backuping private keys must be announced.

[2021-02-04 19:08] #1010 closed

[2021-02-04 19:25] yilmazbahadir commented on #1042
fixed by https://github.com/nemgrouplimited/symbol-desktop-wallet/pull/1043

[2021-02-04 19:26] #1042 closed

[2021-02-04 19:31] cryptoBeliever commented on #875
Fixed.

[2021-02-04 19:31] #875 closed

[2021-02-04 19:36] cryptoBeliever commented on #946
Current solution prevents creating profile without accepting conditions. Not sure if those are final version and if not should be available "outside" wallet.

[2021-02-04 19:36] #946 closed

[2021-02-04 20:56] myxmaster opened #1046 "FIXED. No defaults should be used for network configuration"
Currently there are network configuration defaults defined which are used in case the data could not be retrieved from the node (defaultNetworkConfig.networkConfigurationDefaults in NetworkConfig.ts). In that case, values that are calculated with one of those are displayed but probably wrong because the default values most likely differ from the correct values. But the user cannot know those value

[2021-02-04 21:54] myxmaster opened #1049 "Simple aggregate tx: Mosaic input invisible"
Since PR #1040 the mosaic input is not visible anymore.

![grafik](https://user-images.githubusercontent.com/77545287/106960155-f240da80-673b-11eb-815d-06c033c8fcec.png)

[2021-02-04 23:13] #766 closed

[2021-02-04 23:14] #952 closed

[2021-02-04 23:14] #938 closed

[2021-02-04 23:14] #1011 closed

[2021-02-04 23:14] #1012 closed

[2021-02-05 05:26] NikolaiB opened #1052 "Initial account can not be imported"
WTR:

1. Open desktop wallet
2. Copy mnemonic from paper wallet
3. Import an account with mnemonic

Result: When I import the account with mnemonic I don't see imported account in the list [Video](https://www.loom.com/share/487be2fcad5a4dc2ae0d0e7bf8f97a71)

If I take the first one, it creates new empty account.

[2021-02-05 08:17] OlegMakarenko commented on #1052
Also it shows an incorrect notification: `Successfully generated a random mnemonic passphrase`

[2021-02-05 08:29] OlegMakarenko commented on #1052
@NikolaiB are you using mnemonics generated with the latest wallet version?

[2021-02-05 11:32] NikolaiB commented on #1052
@OlegMakarenko I am using the Paper Wallet generated with 0.13.8 wallet version.

[2021-02-05 12:55] Eugenity commented on #753
Not reproducible anymore. Closing.

[2021-02-05 12:55] #753 closed

[2021-02-05 15:30] garm01 opened #1055 ""Add node" button is not highlighted."
After entering a valid node address in the Node Url field, the "Add node" button(under Network settings) is not highlighted.
This should be done directly after entering a valid node url or after e.g. I press enter.
(version 0.14.0 - http://desktop-build.symboldev.com/#/home)

---

![Node-2](https://user-images.githubusercontent.com/46584115/107053674-5eb8e980-67cf-11eb-84c6-afc10a69d54d.png)

[2021-02-05 15:57] garm01 opened #1056 "Valid connection to a node that was down(green dot)"
After I stopped the node the wallet is connected to, it still shows a valid connection to the node.
(version 0.14.0 - http://desktop-build.symboldev.com/#/home)

---

![Nodes-3](https://user-images.githubusercontent.com/46584115/107056855-126fa880-67d3-11eb-93b1-20bde2629280.png)

[2021-02-05 16:22] #1056 closed

[2021-02-05 18:15] bassemmagdy commented on #1055
@gram01 you need to select the node from that drop-down that shows after typing your `Node url` in order to fetch network type and generation Hash.

[2021-02-05 18:18] cryptoBeliever opened #1058 "Wrong message when importing seed"
Steps:

1. Open desktop wallet
2. Copy mnemonic from paper wallet
3. Import an account with mnemonic

There is message "Successfully generated a random mnemonic passphrase" but the user is importing it not generating.

![image](https://user-images.githubusercontent.com/17684281/107073122-3a690700-67e7-11eb-998b-9fdd120aef25.png)

[2021-02-05 18:18] cryptoBeliever commented on #1052
@NikolaiB in 0.14.0 new derivation path for testnet was introduced. So your old seed will generate new addresses. That's why when we release wallet in announcement release will be information to backup first private keys if you need those accounts.

@OlegMakarenko reported as seperated issue https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/1058

[2021-02-05 18:18] #1052 closed

[2021-02-05 20:58] myxmaster commented on #1049
Fixed in dcfd1e8f0

[2021-02-05 20:58] #1049 closed

[2021-02-06 08:25] myxmaster commented on #973
resolved with #1048

[2021-02-06 08:38] myxmaster commented on #657
In settings dialog users can only add nodes, but not switch.

I think it isconfusing, because it doesn't clearly say that users can add nodes at this place.

I suggest:
a) Rename "Network settings" -> "Manage nodes"
b) On the right side start with a headline "Add nodes" (later rename that into "Add/Remove nodes" after deletion is implemented)
c) Put the 'List of node(s)' below the node inputs.

[2021-02-06 10:55] garm01 commented on #1055
@bassemmagdy  I'm not 100% sure, but pressing enter key after successfully entering the Node Url, should have the same effect as selecting a Node Url from the drop-down list.

[2021-02-06 13:22] garm01 commented on #929
With more than ten accounts, it might also make sense if the user can sort the accounts according to his imagination. At the moment, he only has this option when importing the Mnemonic Passphrase or when creating the wallet.

[2021-02-06 13:59] garm01 opened #1061 "Overlapping text under "Invoice""
Overlapping text ( Fee 0.005 symbol.xym, 0 symbol.xym ) under "Invoice"
(linux version 0.14.0 - http://desktop-build.symboldev.com/#/invoice)

---

![overlapping_text](https://user-images.githubusercontent.com/46584115/107120069-ad2bbe00-688b-11eb-86fd-1b8a949a68f9.png)

[2021-02-06 14:22] garm01 opened #1062 "Messages under "Invoice" and "Send" are not displayed correctly and cannot be edited"
longer message entered under Invoice is not visible and cannot be edited.

---

![Text](https://user-images.githubusercontent.com/46584115/107120566-a5214d80-688e-11eb-8641-52680696fc3b.png)

---------------------------------------------------------------------------------
---------------------------------------------------------------------------------

A message without spaces (e.g. a series of

[2021-02-06 17:23] cryptoBeliever commented on #538
@bassemmagdy @OlegMakarenko looks like now it's fixed. Closing.

[2021-02-06 17:23] #538 closed

[2021-02-06 17:30] cryptoBeliever commented on #658
This is how looks like scrollbars on Linux https://share.getcloudapp.com/GGu6kqqK

[2021-02-06 17:57] cryptoBeliever opened #1063 "Invalid fee presented in transaction details"
Steps:

1. Send transaction with fastest fee (1XYM)
2. After transaction confirmation open details.

Result presented fee is: 01 (XYM) which is invalid value.
Should be real fee paid -> 0.999856 (XYM) as presented in explorer.

Screenshot from wallet:

![image](https://user-images.githubusercontent.com/17684281/107125937-fcceb180-68ac-11eb-92ba-4b5c85fe827b.png)

http://explorer.testnet.symboldev.

[2021-02-06 17:58] cryptoBeliever commented on #662
Still replicable

[2021-02-06 18:08] cryptoBeliever opened #1064 "Wrong amount presented on dashboard"
Steps:

1. Create a mosaic with divisibility 0 and amount 500 000 000
2. Sent transaction with amount 100 000 000 to other address.
3. On dashboard correct amount is presented (100 000 000)
4. Send next transaction with amount 400 000 000

Result: After confirmation amount is presented as 100 and 400.

Additional question: Amount column is used for XYM and other mosaics. This may be confusing. May

[2021-02-06 18:18] cryptoBeliever commented on #670
Both issues:
- with importance score
- decimal seperator
fixed.

[2021-02-06 18:18] #670 closed

[2021-02-06 18:20] cryptoBeliever commented on #723
Changing to a bug because. We should either present mosaics without supply in mosaics list or allow add supply in aggregate feature.

[2021-02-06 18:23] cryptoBeliever commented on #752
I have another opinion. For me for public release should be visible only MAINNET and TESTNET. Others can confuse users.

[2021-02-06 18:29] cryptoBeliever commented on #769
Fixed.

[2021-02-06 18:29] #769 closed

[2021-02-06 18:39] cryptoBeliever commented on #847
Fixed.

[2021-02-06 18:39] #847 closed

[2021-02-06 18:43] cryptoBeliever commented on #851
@Eugenity I guess it doesn't apply anymore because saved transactions disappear after switching to another account?

[2021-02-06 18:47] cryptoBeliever commented on #871
Confirmed. Would be nice to fix that because it's annoying :)

[2021-02-06 18:56] cryptoBeliever commented on #925
@bassemmagdy marked as done.

[2021-02-06 18:56] #925 closed

[2021-02-06 19:16] cryptoBeliever commented on #966
@garm01 are you able to reproduce on 0.14.0?

[2021-02-06 19:18] cryptoBeliever commented on #972
@OlegMakarenko as I can see it's fixed. Thank you

[2021-02-06 19:18] #972 closed

[2021-02-06 19:21] cryptoBeliever commented on #973
Fixed.

[2021-02-06 19:21] #973 closed

[2021-02-06 19:25] cryptoBeliever commented on #1005
@Eugenity could you check if you still able to reproduce closed websockets? If yes please tell which one node and if work after switching node.

[2021-02-06 19:37] cryptoBeliever commented on #1035
Fixed.

[2021-02-06 19:37] #1035 closed

[2021-02-06 19:48] cryptoBeliever commented on #1055
It works pretty good but if it can be improved would be great. But I would avoid a lot of API calls when user typing address.

[2021-02-06 20:31] fboucquez commented on #1029
One detail to consider. SDK uses a couple of bytes from the message payload to flag the message type (plain, encrypted)

[2021-02-06 20:35] OlegMakarenko commented on #1064
In the block explorer and mobile wallet we display amount only for native currency. If the transfer transaction contains non-native mosaic or message we display icons of it

[2021-02-07 10:36] rg911 commented on #1064
@cryptoBeliever @OlegMakarenko  Not sure I understood why wallet wouldn't show the amount. The root cause of the issue afaik is when the none native coin balance dropped to zero, the divisibility is used the default xym's.  It looks to be a bug. The custom-created mosaic should be preserved and show the correct amount in the transaction history.

[2021-02-07 11:42] cryptoBeliever commented on #1063
Fixed.

[2021-02-07 11:42] #1063 closed

[2021-02-07 11:58] OlegMakarenko commented on #1064
@rg911 not regarding a bug

We are about the amount field in the transaction list. I think there are two ways: display amounts only for native mosaic or display amounts for all transferred mosaics [{mosaicName, amount}]. The second one may overload the list view.

The transaction details definitely should display all transferred mosaics with amounts.

[2021-02-07 13:32] garm01 commented on #966
Not reproducible under v0.14.0 .

[2021-02-07 13:32] #966 closed

[2021-02-07 17:16] cryptoBeliever opened #1067 "Harvesting - wrong state when importing account that already harvesting"
Steps:

1. Import to wallet account that already harvesting.
2. On harvesting page I have active button "Activate" which has no chance to work because there are no vrf/remote private key in wallet.

When I click Activate I got "An error happened, please relink your vrf and remote keys."

![image](https://user-images.githubusercontent.com/17684281/107153972-9f039d80-6970-11eb-8eb3-312c0670ea1e.png)

[2021-02-08 02:50] garm01 opened #1071 "After using the "Back" button under "Finish", the wallet creation cannot be completed."
When creating a new wallet, the "Back" button displays the option to go back one step.(v0.14.0)

1) Create Profile
2) Import Mnemonic
3) Select some Accounts and go to Finish
4) push the "Back" Button at the "Finish" Page

Afterwards, the user has no possibility to go one step forward again, but has to start from the beginning.

[2021-02-08 09:28] Eugenity commented on #871
Please be informed that the same behavior expectedly is for text fields on the **Mosaics**, **Namespaces** and respectively on the **Aggregate** pages (for simple transaction, mosaics and namespace creation).

[2021-02-08 09:30] Eugenity commented on #851
Yes, it is not reproducible anymore since what you mentioned. Closing.

[2021-02-08 09:30] #851 closed

[2021-02-08 10:06] Eugenity commented on #1005
@cryptoBeliever I have been unable to reproduce them so far using all default nodes.

[2021-02-08 20:28] garm01 opened #1076 "You can use the "Settings" page for node management or to configure a new network"
The link should point directly to "Network settings" and not first to "General settings", the user only wants to change network settings here.

![settings](https://user-images.githubusercontent.com/46584115/107277269-71902000-6a54-11eb-8b24-66b11e48d73e.png)

[2021-02-08 21:34] jabo38 commented on #929
@cryptoBeliever if it isn't on a launch release, it needs to be on the release after launch.

I don't know of a single other crypto wallet that limits addresses to only 10.

10 to start? sure.... okay. I have seen that kind of thing before. But a hard limit of 10. Not ever.

[2021-02-08 23:06] cryptoBeliever commented on #929
Ok. Increasing to P2.

[2021-02-08 23:35] jabo38 opened #1081 "Request to display delegated harvesting request more clearly"
One thing that the mobile app does a little better than the desktop app is when there is a delegated harvesting request tx, it more clear says "delegated harvesting request".

But in the desktop wallet as seen in the screenshot below, it is shown as a message tx. That could be confusing to most casual users. The went to set up delegated harvesting and instead of seeing a delegated harvesting tx, i

[2021-02-09 09:52] garm01 opened #1082 "Uniform format of the Chain height"
The Chain height display should be valid in a uniform format for the entire wallet. The Chain height always displayed without a comma even outside the wallet. (v0.14.0 linux)

---

![Chain_height2](https://user-images.githubusercontent.com/46584115/107345349-c0c16980-6ac3-11eb-9197-d34eace586c4.png)

[2021-02-09 10:29] garm01 commented on #1082
And here should be only "90554", without "Block #".

---

![Chain_height4](https://user-images.githubusercontent.com/46584115/107350624-f5382400-6ac9-11eb-9c04-be729aecae01.png)

[2021-02-09 12:03] TriPhan96 opened #1084 "Ledger connection issue on MacOS"
**[Only happen on MacOS]**
When Ledger devices are connecting with another app (for example [Ledger Live](https://www.ledger.com/ledger-live)) can't connect with the wallet (Electron build or release only) and show error as this picture

![image](https://user-images.githubusercontent.com/62920562/107359760-a90bd480-6b07-11eb-8b61-ec048261c38e.png)

[2021-02-09 12:39] Eugenity opened #1087 "Mosaic definition is displayed as Aggregate transaction"
**Steps to reproduce:**

1. Go to Mosaics page
2. Click on 'Create new mosaics' tab
3. Specify aт arbitrary mosaic
4. Confirm a mosaic definition
5. Go to Dashboard

**Expected result:** The mosaic definition is indicated as 'Mosaic definition' on the dashboard
**Actual result:** The mosaic definition is indicated as Aggregate transaction

NOTE: The mosaic definition is dispalyed right when done f

[2021-02-09 18:02] OlegMakarenko opened #1088 "Aggregate Form. Add Mosaic Supply Change to the Mosaic Transaction"
![image](https://user-images.githubusercontent.com/33131259/107407026-ce9ddb80-6b11-11eb-952b-6c74ffe5e342.png)

[2021-02-09 18:26] OlegMakarenko commented on #1087
Actually to create a new mosaic with a defined supply the wallet announce aggregate complete transaction that consist of `Mosaic Definition` and `Mosaic Supply Change` inner transactions. That's why it is displayed as an aggregate transaction on the dashboard.

When you announce just a `Mosaic Definition` it will creates a mosaic with 0 supply.

[2021-02-09 18:47] OlegMakarenko opened #1089 "After a mosaic is created with a single Mosaic Definition transaction it is not presented on the mosaics list"

[2021-02-09 18:54] cryptoBeliever commented on #1089
@OlegMakarenko I mentioned it here: https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/723
There is the proposition of two solutions (add supply to aggregate with mosaic or/and fix issue with presentation).
Please increase priority if you think P3 is too low.

[2021-02-09 18:54] #1089 closed

[2021-02-09 18:56] cryptoBeliever commented on #1088
@OlegMakarenko related with https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/723

[2021-02-09 18:56] OlegMakarenko opened #1090 "Dashboard. Improve transaction previews"
1. Display amount only for native mosaic
2. Show mosaic icon for non-native mosaic transfers
3. Show envelope icon if message included
4. Display custom aggregate types (ex. Mosaic Creation -> [Mosaic Definition, Mosaic Supply Change])

Mobile wallet as example
![image](https://user-images.githubusercontent.com/33131259/107587323-320b3480-6c0a-11eb-95a2-2cd8640cad1e.png)

[2021-02-09 18:58] cryptoBeliever commented on #1082
@myxmaster @OlegMakarenko  if you have time :)

[2021-02-09 19:12] myxmaster commented on #1082
Well, with 30 s blocktime we have more than 1 million blocks per year. Should we really have no thousands separator?

[2021-02-09 20:07] garm01 commented on #1082
I am not sure, but I guess that most users use Copy & Paste.
If you then enter this e.g. in the search of the explorer you first get an error message.
I think we should trust in a uniform format here.

It looks different in this case #502 .

[2021-02-09 22:56] garm01 commented on #1082
I just saw Copy & Paste is not possible in the Dashboard. It always pops up the pop-up "Details about a transaction".
Mmmmhhh ..., is that the way it should be?
But this does not change the fact that we need, in my opinion, a uniform format.

[2021-02-10 00:50] tomotomo9696 opened #1092 "Unify the notation of key link transaction."
In the language file, the three Key link transactions are inconsistent in their notation.
https://github.com/nemgrouplimited/symbol-desktop-wallet/blob/e1336ef24e949f14d4eb70068a0fbe6b2e022fc8/src/language/en-US.json#L930
https://github.com/nemgrouplimited/symbol-desktop-wallet/blob/e1336ef24e949f14d4eb70068a0fbe6b2e022fc8/src/language/en-US.json#L942
https://github.com/nemgrouplimited/symbol-desk

[2021-02-10 03:42] TriPhan96 opened #1093 "Lack of Terms and Conditions & Privacy policy agreement for Ledger"
There's no terms and Conditions & Privacy policy agreement for Ledger profile creation flow

[2021-02-10 07:59] segfaultxavi commented on #1092
Throughout the documentation they are referred to as "~ Key Link":
https://docs.symbolplatform.com/serialization/coresystem

[2021-02-10 19:17] myxmaster commented on #241
I don't understand why this was closed. The warning "Please note that the minimal fee multiplier for the currently selected node is 100" is not understandable for me (and won't be for average users) and also the problem still exists: If you selected a too small fee (slowest in this case) the transaction seems to be sent but is never processed.

[2021-02-10 22:36] myxmaster commented on #1082
Ok you are right, I removed the thousands separator and the "Block #" part.

I didn't look at the csv export yet though.

[2021-02-10 22:50] OlegMakarenko opened #1098 "Display wallet's accounts in the address book"
![image](https://user-images.githubusercontent.com/33131259/107583057-0df82500-6c03-11eb-9e75-88742628ee72.png)

[2021-02-11 07:11] segfaultxavi commented on #241
The documentation site also needs to be improved in this regard. See https://github.com/nemtech/symbol-docs/issues/489.

[2021-02-11 08:09] myxmaster commented on #1098
Yes, I think all the accounts from current wallet (own accounts) should be suggested in the "Select contact" list.

To prevent confusion we should forbid to add own accounts as contacts, because then we have possible account name collisions.

[2021-02-11 08:27] myxmaster commented on #1058
fixed with #1069

[2021-02-11 08:49] myxmaster commented on #502
Yes, to prevent mistakes we definitely need better handling of thousands and decimal separators.

It is complex when you look at the details of this problem though:
If we allow thousands separator in the input label, then users could also enter "123,45.123" (invalid). Or they could confuse thousands separator with decimal separator and enter "123,456" when they really meant "123.456".
-> This is b

[2021-02-11 08:57] myxmaster commented on #549
I heard this feedback from another user as well. People, who use this wallet for the first time, really have trouble finding this main feature.

Unfortunately I have no idea how to improve this. Any suggestions?

[2021-02-11 09:20] rg911 commented on #502
Agree. I have seen the comments in the other PR as well. What I think we should:
1. currencies: use localized format (thousands and decimal separator)
2. blockHeight: can probably stay as a whole number.
3. 123,45.123: this is preferred for currency, decimal should use `.` to separate

[2021-02-11 09:27] myxmaster commented on #570
I agree with this. People need a clear name to refer to the app. It is very useful for us as well, when we are trying to help users.

So if the name of this app is "Symbol Desktop Wallet", why don't we put that on the very top left (where it says "Symbol From NEM" now) and put the "Symbol From NEM" to the bottom where it says "Powered by NEM Technology." now (which sounds very generic/meaningless/

[2021-02-11 09:39] #1082 closed

[2021-02-11 09:40] #1039 closed

[2021-02-11 09:43] rg911 opened #1100 "Mosaic supply amount shows no fractional part."
![image](https://user-images.githubusercontent.com/4384931/107620978-779d2100-6c4d-11eb-876d-34205202f290.png)

[2021-02-11 10:35] OlegMakarenko commented on #1098
I agree. I see there are two ways:
1. Display all wallet accounts in the contact dropdown by default and disallow adding them to the address book. Probably dropdown should have two groups (owned accounts and address book).

2. Add checkbox "Add this account to address book" to the account creation modal. When user rename or delete an account there should be a modal which propose to update address

[2021-02-11 11:01] myxmaster commented on #1098
1. is way better in my opinion

[2021-02-11 21:39] cryptoBeliever commented on #1034
Fixed.

[2021-02-11 21:39] #1034 closed

[2021-02-11 21:41] cryptoBeliever commented on #539
@OlegMakarenko closing this one because you created https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/1098

[2021-02-11 21:41] #539 closed

[2021-02-11 21:46] cryptoBeliever commented on #1005
Ok. Closing.

[2021-02-11 21:46] #1005 closed

[2021-02-11 21:52] cryptoBeliever commented on #1093
Fixed.

[2021-02-11 21:52] #1093 closed

[2021-02-11 21:57] cryptoBeliever commented on #999
@trestoJP could you verify if you are still able to reproduce?

[2021-02-11 22:05] cryptoBeliever commented on #1092
@rg911 just wonder how translations will be handled?

[2021-02-11 22:10] cryptoBeliever commented on #508
@OlegMakarenko I think you created similar one. Presenting in amount column only if native coin was sent would fix that.

[2021-02-11 22:25] cryptoBeliever opened #1104 "Terms & Privacy policy verification"
In wallet we have terms and privacy policy:

![image (1)](https://user-images.githubusercontent.com/17684281/107706061-08ace000-6cc0-11eb-8515-b24fafbaa38b.png)
![image (2)](https://user-images.githubusercontent.com/17684281/107706084-11051b00-6cc0-11eb-8eb5-5196e04d5715.png)

@Pow1404  for verification:

1) If those are up-to-date.
2) Maybe both regulations should be outside wallet (easier to edi

[2021-02-11 22:31] rg911 commented on #1092
yeah, we need to review all the translation tbh,

[2021-02-11 22:32] rg911 commented on #1092
`Link node key` should be `node key Link`,

[2021-02-12 08:12] segfaultxavi commented on #1092
`Node Key Link` has already been changed in the `integration` branch in commit https://github.com/nemgrouplimited/symbol-desktop-wallet/commit/cb953b360a8918f8e06809fdced3daaf15d3e948

[2021-02-12 08:15] cryptoBeliever commented on #1092
@segfaultxavi that's correct.
Because as @rg911 told transactions will be reviewed I'm closing this issue.
@tomotomo9696 if you like you can do pull request with fix for Japanese translation.

[2021-02-12 08:15] #1092 closed

[2021-02-12 12:05] dusanjp opened #1106 "The node connected to the wallet is not displayed in the delegation destination when setting the delegation harvest"
in v0.14.0
The node connected to the wallet is not displayed in the delegation destination when setting the delegation harvest

in this case
You can find the desired delegation destination peer node and reconnect to it to find the target delegation destination.

I think it is desirable to be able to display the wallet connection node as the delegation destination without changing the wallet connec

[2021-02-12 13:28] yilmazbahadir commented on #130
already fixed

[2021-02-12 13:28] #130 closed

[2021-02-12 13:28] yilmazbahadir commented on #226
already implemented

[2021-02-12 13:28] #226 closed

[2021-02-12 13:31] yilmazbahadir commented on #107
I believe, this issue is not relevant anymore. Please feel free to create another one with up to date definition.

[2021-02-12 13:31] #107 closed

[2021-02-12 13:35] yilmazbahadir commented on #508
@OlegMakarenko, @cryptoBeliever  can we close this if this is a duplicate or irrelevant.

[2021-02-12 13:49] myxmaster commented on #502
2. is sorted -> no thousands separators here (block explorers have problems with thousands separator plus users rarely need to check the height for something, so readability is not a priority)

1. and 3.:
There is no globally used decimal separator. A lot of countries use 1,234.123456 XYM, and many others use 1.234,123456 XYM. So we should use the correct (localized) thousands and decimal separato

[2021-02-12 13:50] segfaultxavi commented on #560
Nope, it's the same behavior in both Mosaics and Namespaces. And I still find it confusing in Wallet 0.13.8.

[2021-02-12 13:58] yilmazbahadir commented on #730
We have to call this endpoint to find out if that's multi-sig related. So it is a must at the moment.

[2021-02-12 13:58] #730 closed

[2021-02-12 15:30] bassemmagdy opened #1108 "Namespace/mosaic transactions doesn't appear in transaction list because of missing rental fees"
users have to navigate to namespace/mosaic page first to fetch Estimated rental fees before being able to see their transactions in list

[2021-02-12 15:42] garm01 opened #1110 "the "Profile Import" area should already have the correct width before selecting an address"
When creating a new wallet, the width for "Profile import" and "Address to interact with" should not move when selecting the first address.

- Select the address, the width of the "Profile import" area will be increased.
- Deselect address again, area will be reduced in width

Even if no address has been selected yet, an appropriate width should already be specified.
There is already an empty area

[2021-02-12 15:52] bassemmagdy commented on #662
fixed on latest integration

[2021-02-12 15:52] #662 closed

[2021-02-12 15:52] bassemmagdy commented on #871
fixed on latest integration

[2021-02-12 15:53] bassemmagdy commented on #871
fixed on latest integration

[2021-02-12 15:53] #871 closed

[2021-02-12 15:55] bassemmagdy commented on #993
fixed on latest integration

[2021-02-12 15:55] #993 closed

[2021-02-12 16:58] OlegMakarenko opened #1112 "Account metadata transaction is not signable"
Aggregate transaction looks the same for the initiator and target account

![image](https://user-images.githubusercontent.com/33131259/107798011-3ea3a000-6d64-11eb-8239-270828305c4f.png)

![image](https://user-images.githubusercontent.com/33131259/107797724-f1273300-6d63-11eb-808d-b1d977ee15bc.png)

[2021-02-12 19:20] yilmazbahadir opened #1113 "Default network configuration is static and only for testnet"
The default network configuration should be based on the network (type) selected. Currently, it is static and based on the testnet only. Should be having configuration defaults separately for both mainnet and testnet (and for other network types as well) and referencing classes should be using based on the current profile's network type.

[2021-02-12 20:45] cryptoBeliever commented on #730
ok

[2021-02-12 23:12] cryptoBeliever commented on #508
When https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/1090 will be done we can probably close. For now, I would leave open.

[2021-02-13 01:30] jabo38 opened #1114 "when click on "Learn more about Symbol Optin" I get an error"
![image](https://user-images.githubusercontent.com/10395907/107837879-a5c35380-6d68-11eb-9571-22acc909d823.png)

Then I get this error.

![image](https://user-images.githubusercontent.com/10395907/107837888-b4116f80-6d68-11eb-83ff-55ded74047a4.png)

I'm using a Ledger on 2.5.0

-----BEGIN REPORT-----
eyJtZXNzYWdlIjoiYzJiNDhhZjdkNTFhY2Y3MjBmM2Y1OWYxZGZlY2YxMDEw
NDA2ZmYxNmExMWZlNDdkZmQ0ZDZjZDkyNGRiO

[2021-02-13 08:46] cryptoBeliever commented on #1114
@jabo38
1) It's not Symbol desktop wallet
2) This links opens a webpage https://nemplatform.com/symbol-migration. Looks like your IP is blocked by page (maybe you are using VPN or sth). You can check directly in other browser.

Closing as not related with Symbol wallet.

[2021-02-13 08:46] #1114 closed

[2021-02-13 09:12] cryptoBeliever commented on #903
Apps are signed now.

[2021-02-13 09:12] #903 closed

[2021-02-13 09:38] cryptoBeliever commented on #1090
@OlegMakarenko I think this issue https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/856 can be also improved here.

[2021-02-13 09:55] cryptoBeliever commented on #876
Still I'm able to reproduce.

[2021-02-13 09:59] cryptoBeliever commented on #1106
@bassemmagdy I think it's because /node/peers for the current node don't return it. I think it should be improved and we should add the current node if it meets the harvesting nodes list requirements.

[2021-02-13 10:40] cryptoBeliever commented on #1112
@OlegMakarenko it's metadata, not restriction.

Video: https://share.getcloudapp.com/p9u88XWw

[2021-02-13 10:49] cryptoBeliever commented on #1110
Video: https://share.getcloudapp.com/WnuBBqL4

[2021-02-13 10:55] cryptoBeliever commented on #1087
Yes. This is not a bug. Presentation will be improved when https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/1090 will be fixed.

[2021-02-13 10:55] #1087 closed

[2021-02-13 10:56] cryptoBeliever commented on #1084
Unfortunately, I'm unable to check. @rg911 if you have some time (just joked) you can verify.

[2021-02-13 11:00] cryptoBeliever commented on #1071
Fixed.

[2021-02-13 11:00] #1071 closed

[2021-02-13 11:18] cryptoBeliever commented on #1062
@garm01 I'm unable to reproduce. Which one OS and wallet version?

Video: https://share.getcloudapp.com/o0uEER4P

[2021-02-13 11:19] cryptoBeliever commented on #1058
Fixed.

[2021-02-13 11:19] #1058 closed

[2021-02-13 11:22] cryptoBeliever commented on #999
I was unable to reproduce on the latest version. @trestoJP if you still have this issue please let me know. I will reopen.

[2021-02-13 11:22] #999 closed

[2021-02-13 11:23] cryptoBeliever commented on #975
@OlegMakarenko is this issue about all translations?

[2021-02-13 11:30] cryptoBeliever commented on #1064
Also related to https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/1090

[2021-02-13 11:31] OlegMakarenko commented on #975
@cryptoBeliever yes, we need to review and replace all hardcoded text strings with translation function within the wallet

[2021-02-13 11:40] cryptoBeliever commented on #887
@NikolaiB looks like fixed in latest version available here http://desktop-build.symboldev.com/
Closing.

[2021-02-13 11:40] #887 closed

[2021-02-13 11:43] cryptoBeliever opened #1115 "Harvesting node list - UX suggesting that it's possible put custom node."
Currently, the harvesting node list doesn't allow put a custom node.
UX is not clear that input should be used only for searching. I would improve that.

![image](https://user-images.githubusercontent.com/17684281/107849081-08fcc680-6df9-11eb-917a-421ba7e5e4df.png)

[2021-02-13 11:45] cryptoBeliever opened #1116 "Harvesting node list - allow put custom node"
Harvesting node list should allow put custom node.
Currently, it's not possible and not always /node/peers returns all nodes

[2021-02-13 11:45] cryptoBeliever commented on #1115
Related with https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/1116

[2021-02-13 11:45] cryptoBeliever commented on #859
I created:
https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/1115
https://github.com/nemgrouplimited/symbol-desktop-wallet/issues/1116
Closing this one.

[2021-02-13 11:45] #859 closed

[2021-02-13 12:06] cryptoBeliever opened #1117 "Harvesting - vrf and remote account private keys shared between profiles"
Steps:

1. Create a profile with password X
2. Send more than 10000 XYM and start harvesting
3. Create a second profile with a password Y
4. Import private key of harvesting account from profile X

Result: On harvesting page we have "Show private key" for VRF and Remote but of course they can't be decrypted because password don't match.

Expected result: VRF/Remote account keys shouldn't be shared

[2021-02-13 12:30] cryptoBeliever commented on #1067
Now "Activate" button is not active.
Result after importing harvesting account:

![image](https://user-images.githubusercontent.com/17684281/107850014-9ba06400-6dff-11eb-8eac-1568f011250a.png)

There is message "Harvesting status cannot be detected. Please select the node you are harvesting on."

When the user put's correct node nothing happens.

[2021-02-13 15:11] garm01 commented on #1062
To test it, in the first example, I also used the Enter key when entering text. The text is then moved without this being visible in the message field.
With the arrow keys you can scroll up and down. But this is not so optimal. The same effect is sometimes seen with Copy & Past of a text.
I am sorry, I should have described this better.

[2021-02-13 18:36] myxmaster opened #1119 "Dashboard transactions list not scrollable in Firefox"
The transactions list on dashboard page cannot be scrolled when using Firefox:

![grafik](https://user-images.githubusercontent.com/77545287/107858091-a0cad680-6e32-11eb-9fc1-5ebcc569c574.png)

This is because Firefox does not support `overflow: overlay`. Should the wallet be compatible with most browsers or will it only be released as an electron app anyway?

[2021-02-13 22:04] cryptoBeliever commented on #1119
@rg911 I think we will release anyway as Electron apps, right? Marking as P3 for now.

[2021-02-14 02:42] myxmaster commented on #1119
Yes, but question is, if it is released as Electron app **only**...

[2021-02-14 08:43] cryptoBeliever commented on #1119
That's correct. Right now browser build is in the release so I'm increasing to P2.